workflows/25_Hacks_1Loxt0dN9MAnxSOg.json
{
  "updatedAt": "2025-09-12T12:33:18.000Z",
  "createdAt": "2025-09-12T12:33:08.860Z",
  "id": "1Loxt0dN9MAnxSOg",
  "name": "25 Hacks",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d0ec2c2-c3f9-4a2c-991f-fd1c54d578a4",
              "name": "testt",
              "value": "hello",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        1392
      ],
      "id": "9002aa2e-0c9d-4a7a-b7af-8d2e48e51489",
      "name": "1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        1392
      ],
      "id": "18f1e71a-a0f7-4b88-bf2f-7aea6ba735ad",
      "name": "2",
      "webhookId": "2558286d-2008-4723-8030-651c314b162a"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "Hello"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        608,
        1392
      ],
      "id": "5475c21b-439d-4abd-9eb8-17a9f71ca12a",
      "name": "3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        528,
        1040
      ],
      "id": "58650fc4-0796-42b9-9ba7-1a6f7366e101",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and concise.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"What is n8n?\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        704
      ],
      "id": "1e220531-e9dd-4dc5-85d6-2b75dc71564a",
      "name": "Perplexity"
    },
    {
      "parameters": {
        "content": "# 2) Pin Data",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        576
      ],
      "id": "47c97579-a918-4503-849b-ba9e28398294",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "552691fc-d12f-4a25-8db6-afb76eed81c5",
              "name": "Answer",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        704
      ],
      "id": "80599534-721d-4d97-a2ea-ccb869f91d98",
      "name": "Answer",
      "retryOnFail": false
    },
    {
      "parameters": {
        "content": "# 4) Move Between Nodes\n",
        "height": 340,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        1264
      ],
      "id": "16e0a07f-3b3d-4cae-8a15-3ba1f5f45a67",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# 10) Current Date/Time\n",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        2992
      ],
      "id": "afbf6699-46e9-4284-a400-82d76fbf0fb6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        3136
      ],
      "id": "2af37b5e-f575-4a2a-825e-bedafa6c2c72",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Current Time is: {{ $now.format('yyyy-MM-dd') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        480,
        3104
      ],
      "id": "bf8a5637-d447-4da2-958e-f231671569df",
      "name": "Current Time"
    },
    {
      "parameters": {
        "content": "# 1) Fixed -> Expression",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        240
      ],
      "id": "351d41fe-d8b1-4758-92e0-cd60f11775aa",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "552691fc-d12f-4a25-8db6-afb76eed81c5",
              "name": "=",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        352
      ],
      "id": "16f34390-da52-4090-b4ff-15d7e47798e9",
      "name": "Expression"
    },
    {
      "parameters": {
        "content": "# 25 n8n Hacks\nAuthor: [Nate Herk](https://www.youtube.com/@nateherk) ",
        "height": 100,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        112
      ],
      "id": "6abf5416-b688-44d9-b193-e8bc8973e36d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# 11) Save Credentials\n",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        3344
      ],
      "id": "6e94184f-8ab1-40ab-9a47-19212bf28dd2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and concise.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"What is n8n?\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        3456
      ],
      "id": "f217e340-ac05-4d4d-813f-9b164aa660b5",
      "name": "Perplexity1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.query }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        3456
      ],
      "id": "d468f915-528f-4248-a6f0-33b6d897fac8",
      "name": "Tavily"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "A cute baby sea otter"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        3456
      ],
      "id": "9961f344-e39d-4d1c-addd-737f38e8df44",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "content": "# 24) .join()\n",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        7440
      ],
      "id": "c3216732-4a39-45e1-a9d0-7c02ec6192df",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f18f458-174c-4756-acf6-a8d9cb04e072",
              "name": "foods",
              "value": "[\"apple\",\"banana\",\"steak\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        7552
      ],
      "id": "8cfae618-a99b-4887-ae19-c092be27ea0c",
      "name": "Array"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc21d18c-dd1b-4b18-ae8e-f883542ff2a1",
              "name": "list",
              "value": "={{ $json.foods.join(\"\\n\\n\\n\\n\\n\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        7552
      ],
      "id": "16723b42-0891-4dcd-9c78-8856e1e2edfe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "# 25) .replace(/\"/g, '')\n",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        7776
      ],
      "id": "f890f74a-d69f-432c-bd5a-fb6812050007",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f7a5a6a-d14e-4e29-b81e-30e24a059c38",
              "name": "query",
              "value": "\"pineapples on pizza\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        7904
      ],
      "id": "28ac9f57-bd7d-4601-83ad-a7c0461502be",
      "name": "Set"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.query.replace(/\"/g, '') }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        7904
      ],
      "id": "4713630a-7362-4611-a696-b0514b209ba0",
      "name": "Web Search"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "69e4a3be-5922-46e4-b248-de172cff1342",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        6080
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "86cdec96-5b06-4377-9b8a-3b8801070e10",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        5984
      ]
    },
    {
      "parameters": {
        "jsCode": "// Define an array of URLs\nconst urls = [\n  { url: \"https://www.mcdonalds.com/us/en-us.html\" },\n  { url: \"https://www.chipotle.com/\" },\n  { url: \"https://example.com/invalid-file\" }\n];\n\n// Return the array as output\nreturn urls.map(item => ({ json: item }));\n"
      },
      "id": "44a19387-c92c-435b-97b6-7975b949e3a0",
      "name": "Set URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        5984
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00873281-b8c8-400e-8385-e5fd5e35ae9d",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0ab6e781-22f3-4c96-90ea-8898866f68cc",
      "name": "Example",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        5904
      ]
    },
    {
      "parameters": {
        "content": "# 20) Continue on Error",
        "height": 500,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        5792
      ],
      "id": "06096878-9ffc-433b-8ae3-929b234f2b5a",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# 5) Deactivate",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        1616
      ],
      "id": "2550b2a5-283b-4ff6-bebb-52685aaf2fea",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        1744
      ],
      "id": "04a07779-c93b-4e3f-b5e5-1e54055649cb",
      "name": "Gmail",
      "webhookId": "6d0a10b1-a0b0-4e26-b090-e73e3b0528ed",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# 9) n8n Attribution",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        2656
      ],
      "id": "78aacd14-02d6-4fdb-996f-869e2de24464",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        336,
        2784
      ],
      "id": "12684fb4-e3f1-4d67-8066-8c8757d7dcba",
      "name": "Gmail1",
      "webhookId": "6d0a10b1-a0b0-4e26-b090-e73e3b0528ed",
      "disabled": true
    },
    {
      "parameters": {
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        2784
      ],
      "id": "c15bded5-2694-4539-acb8-ca152de160ed",
      "name": "Telegram",
      "webhookId": "9f206520-18ce-48df-9744-b6053353cc89",
      "disabled": true
    },
    {
      "parameters": {
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        784,
        2784
      ],
      "id": "7010caae-eaba-4b6f-97db-5a6ba721bee9",
      "name": "Slack",
      "webhookId": "ce653653-ff32-4fe6-9d17-3dfe9cf1657b",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# 12) Error Workflow\n\n",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        3680
      ],
      "id": "5479b11f-b217-4474-8dad-101dee207b45",
      "name": "Sticky Note9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        544,
        3792
      ],
      "id": "d4a55096-e0d5-4d32-9db2-fa35fc1f6176",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bafeeae4-afd2-46f0-b29d-cae8ee872011",
              "name": "Workflow Name",
              "value": "={{ $workflow.name }}",
              "type": "string"
            },
            {
              "id": "49bacaac-fb66-4ba4-b63d-cee0f320be44",
              "name": "Workflow ID",
              "value": "={{ $workflow.id }}",
              "type": "string"
            },
            {
              "id": "92077203-7521-4c65-9f23-e474b59c3026",
              "name": "Workflow Active?",
              "value": "={{ $workflow.active }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        4144
      ],
      "id": "9856f0b2-8b13-4cf7-a525-b38418b628af",
      "name": "Workflow Variables"
    },
    {
      "parameters": {
        "content": "# 13) Workflow Variables\n\n",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        4016
      ],
      "id": "5d2d6dd7-0f36-401a-979d-a9fb376913f5",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# 14) Specify Input\n\n\n",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        4352
      ],
      "id": "ed7dc516-bd02-466c-bab2-e8fa298bf13d",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "phone numebr"
            },
            {
              "name": "email"
            },
            {
              "name": "customer name"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        544,
        4480
      ],
      "id": "41654ec4-9fb1-4bcb-ad2a-079cf0e1c887",
      "name": "When Executed by Another Workflow",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# 21) Error Output\n",
        "height": 400,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        6320
      ],
      "id": "0d1b1027-4916-4a31-97c4-150089c73926",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        304,
        6432
      ],
      "id": "7a29f4ba-41a7-4710-817f-acdfe2f4a41f",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        6576
      ],
      "id": "34b40ee9-3528-48db-b2d9-bc844a6bdb02",
      "name": "OpenRouter Chat Model1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        736,
        6432
      ],
      "id": "d54b6a02-008f-48be-be4b-74c8ddd523de",
      "name": "Aggregate",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "# 15) Sub Execution Data\n\n\n",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        4704
      ],
      "id": "b7f82061-f1bf-4935-be72-64cc97fe02dd",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Send an email to nate@example.com asking if he enjoys playing with sand",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        448,
        4800
      ],
      "id": "bd1c476d-18d0-4ff7-99d2-458ef49119c0",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        304,
        4880
      ],
      "id": "b4f4e7ea-4b4a-44ab-95c2-758be2b66c27",
      "name": "OpenRouter Chat Model2"
    },
    {
      "parameters": {
        "description": "Call this tool to send emails",
        "workflowId": {
          "__rl": true,
          "value": "C3hLlOS4O6ZJtVFy",
          "mode": "list",
          "cachedResultName": "🤖Email Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        768,
        4864
      ],
      "id": "f42e33e1-b958-42b0-916d-d065c3d1296d",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "content": "# 16) Agent Logs\n\n\n",
        "height": 80,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        4736
      ],
      "id": "29702f2a-19e5-43b8-bf53-3a86cea102a9",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "# 17) Copy to Editor\n\n\n",
        "height": 80,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        4832
      ],
      "id": "7c51498f-cadc-4d3c-9878-dcc7e5e32c25",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "# 6) Organization",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        1952
      ],
      "id": "c3230189-e7b3-45e6-aac1-eb0d735ba1b1",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        2064
      ],
      "id": "9463bce4-c4c7-4618-b211-cb5d73cae8b3",
      "name": "Sticky Note19"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        704,
        2080
      ],
      "id": "f2d377d8-3ddd-45bc-8a14-4a9595bc2726",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "# 19) Standardize Input\n\n\n",
        "height": 400,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        5376
      ],
      "id": "1f72ee55-92b0-47e4-98a6-a3e34f692ba2",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        624,
        5472
      ],
      "id": "19954c3b-6fce-4759-aabc-d1d98b7f15da",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        864,
        5664
      ],
      "id": "666d7af9-50d9-4693-8dae-3ac47118ad9e",
      "name": "OpenRouter Chat Model3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        304,
        5616
      ],
      "id": "bd285081-a9e6-4324-8fe4-39ce0ad14f5b",
      "name": "When chat message received",
      "webhookId": "b144fd02-2399-44be-8d3a-a2098a6db81d",
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        304,
        5472
      ],
      "id": "b227a5c4-7a41-4642-8663-71e8b551b402",
      "name": "Telegram Trigger",
      "webhookId": "65b00106-6566-4aa1-8a54-f46d4dc2275b",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aef7f30e-507a-4284-9b5f-2b4e7ddcaf85",
              "name": "message.text",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        5616
      ],
      "id": "98aa01c2-34fc-4dfb-9654-108a2bf93d94",
      "name": "Set Text"
    },
    {
      "parameters": {
        "content": "# 18) Human in the Loop\n\n\n",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        5040
      ],
      "id": "7038f84e-9dfe-494c-b52d-6033c39ab41b",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "guildId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        336,
        5152
      ],
      "id": "0ba4a599-b8ec-44d3-9648-5a30146fdbd6",
      "name": "Discord",
      "webhookId": "6b57f912-7c07-4d58-858f-d93a93be10f2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "options": {}
      },
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        560,
        5152
      ],
      "id": "5020b756-52f5-4bda-9d55-315a74388e32",
      "name": "Google Chat",
      "webhookId": "3331fc51-830c-47bc-976a-3498f42e711a",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "user": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        784,
        5152
      ],
      "id": "27a8960a-6a69-4477-afc9-1cfe0f24d6f6",
      "name": "Slack1",
      "webhookId": "c2d018a7-25fc-44ec-a77a-eaf1dd92c435",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# 7) Workflow History",
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        2304
      ],
      "id": "dfe1616f-fe88-40fb-91e7-7d87b75645a4",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "# 8) Tab",
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        2480
      ],
      "id": "89cd3a8c-f595-47fb-93e0-99bbb468882d",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "# 3) Mock Data",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        912
      ],
      "id": "5f6cb1b4-8a2a-4a9c-902e-c8b0865cbcef",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "# 22) Other Settings\n",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        6736
      ],
      "id": "6b0ec9c5-7de8-45af-9a5c-cc2da60f8f20",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "url": "https://www.chipotle.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        6864
      ],
      "id": "77300848-444a-4c27-b145-25ca4a82aa23",
      "name": "HTTP Request1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "test",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        6864
      ],
      "id": "ceff1b2c-0db7-4825-b522-fb60f4b84ba9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "duplicateItem": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        6864
      ],
      "id": "068c5b32-a637-4f6d-83d4-0679604cba44",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Output 4 stories",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        464,
        7200
      ],
      "id": "e32a037b-2e38-47c6-ae3b-a88800fd91ae",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "content": "# 23) Agent Structured Outputs\n",
        "height": 340,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        7072
      ],
      "id": "34718cd5-5b9e-488b-8ae3-34232fbfce83",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        7280
      ],
      "id": "fdadebf4-7ae2-41c7-9c4b-96216d862816",
      "name": "OpenRouter Chat Model4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scene1\": \"scene1\",\n  \"scene2\": \"scene2\",\n  \"scene3\": \"scene3\",\n  \"scene4\": \"scene4\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        816,
        7280
      ],
      "id": "793bc8f3-4f00-4672-b7de-634c3c9310a5",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "1": {
      "main": [
        [
          {
            "node": "2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2": {
      "main": [
        [
          {
            "node": "3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "main": [
        [
          {
            "node": "Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Current Time",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Array": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Web Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Example",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set URLs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Perplexity": [
      {
        "json": {
          "id": "63f5669d-4352-45df-825e-dae5d383f807",
          "model": "sonar",
          "created": 1747081335,
          "usage": {
            "prompt_tokens": 11,
            "completion_tokens": 120,
            "total_tokens": 131,
            "search_context_size": "low"
          },
          "citations": [
            "https://n8n.io",
            "https://pixeljets.com/blog/n8n/",
            "https://www.youtube.com/watch?v=_EdRzDY9nh4",
            "https://datascientest.com/en/n8n-an-overview-of-the-workflow-automation-tool",
            "https://workos.com/blog/n8n-the-workflow-automation-tool-for-the-ai-age"
          ],
          "object": "chat.completion",
          "choices": [
            {
              "index": 0,
              "finish_reason": "stop",
              "message": {
                "role": "assistant",
                "content": "**n8n** (pronounced \"n-eight-n\") is a workflow automation tool that combines low-code and event-triggered capabilities, built using Node.js. It allows users to create workflows by connecting nodes, each representing a step in a process, and supports both real-time triggers and scheduled tasks. n8n is open-source, self-hostable, and offers a visual interface alongside the ability to use code (JavaScript or Python) for more complex workflows. It supports over 1700 templates and integrates with numerous services, providing flexibility and control over automation processes[1][4][5]."
              },
              "delta": {
                "role": "assistant",
                "content": ""
              }
            }
          ]
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ],
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "hello": "everyone"
        }
      }
    ]
  },
  "versionId": "6a70fc38-3e77-4966-a3d7-89b145657388",
  "activeVersionId": "6a70fc38-3e77-4966-a3d7-89b145657388",
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-13T17:39:38.619Z",
      "createdAt": "2025-12-13T17:39:38.619Z",
      "role": "workflow:owner",
      "workflowId": "1Loxt0dN9MAnxSOg",
      "projectId": "HZqYjnNmPLW2kkrP",
      "project": {
        "updatedAt": "2025-12-12T12:37:29.393Z",
        "createdAt": "2025-12-12T12:34:20.173Z",
        "id": "HZqYjnNmPLW2kkrP",
        "name": "Miguel Simon <miguel.simon@digitalpneuma.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
        "projectRelations": [
          {
            "updatedAt": "2025-12-12T12:34:20.173Z",
            "createdAt": "2025-12-12T12:34:20.173Z",
            "userId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
            "projectId": "HZqYjnNmPLW2kkrP",
            "user": {
              "updatedAt": "2026-01-31T12:34:46.000Z",
              "createdAt": "2025-12-12T12:34:19.617Z",
              "id": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
              "email": "miguel.simon@digitalpneuma.com",
              "firstName": "Miguel",
              "lastName": "Simon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-12T12:39:28.094Z",
                "personalization_survey_n8n_version": "1.123.5",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "automationGoalDevopsOther": "Build workflows to automate manual processes",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "GjxXDVv1iBEVBdE4",
                "userActivatedAt": 1765753766341,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767113477505
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-07T01:41:53.251Z",
    "createdAt": "2026-01-07T01:41:53.251Z",
    "versionId": "6a70fc38-3e77-4966-a3d7-89b145657388",
    "workflowId": "1Loxt0dN9MAnxSOg",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1d0ec2c2-c3f9-4a2c-991f-fd1c54d578a4",
                "name": "testt",
                "value": "hello",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          320,
          1392
        ],
        "id": "9002aa2e-0c9d-4a7a-b7af-8d2e48e51489",
        "name": "1"
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          464,
          1392
        ],
        "id": "18f1e71a-a0f7-4b88-bf2f-7aea6ba735ad",
        "name": "2",
        "webhookId": "2558286d-2008-4723-8030-651c314b162a"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "chatgpt-4o-latest",
            "mode": "list",
            "cachedResultName": "CHATGPT-4O-LATEST"
          },
          "messages": {
            "values": [
              {
                "content": "Hello"
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          608,
          1392
        ],
        "id": "5475c21b-439d-4abd-9eb8-17a9f71ca12a",
        "name": "3"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          528,
          1040
        ],
        "id": "58650fc4-0796-42b9-9ba7-1a6f7366e101",
        "name": "When clicking ‘Test workflow’",
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.perplexity.ai/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and concise.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"What is n8n?\"\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          416,
          704
        ],
        "id": "1e220531-e9dd-4dc5-85d6-2b75dc71564a",
        "name": "Perplexity"
      },
      {
        "parameters": {
          "content": "# 2) Pin Data",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          576
        ],
        "id": "47c97579-a918-4503-849b-ba9e28398294",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "552691fc-d12f-4a25-8db6-afb76eed81c5",
                "name": "Answer",
                "value": "={{ $json.choices[0].message.content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          656,
          704
        ],
        "id": "80599534-721d-4d97-a2ea-ccb869f91d98",
        "name": "Answer",
        "retryOnFail": false
      },
      {
        "parameters": {
          "content": "# 4) Move Between Nodes\n",
          "height": 340,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          1264
        ],
        "id": "16e0a07f-3b3d-4cae-8a15-3ba1f5f45a67",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "# 10) Current Date/Time\n",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          2992
        ],
        "id": "afbf6699-46e9-4284-a400-82d76fbf0fb6",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          320,
          3136
        ],
        "id": "2af37b5e-f575-4a2a-825e-bedafa6c2c72",
        "name": "OpenRouter Chat Model"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Current Time is: {{ $now.format('yyyy-MM-dd') }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          480,
          3104
        ],
        "id": "bf8a5637-d447-4da2-958e-f231671569df",
        "name": "Current Time"
      },
      {
        "parameters": {
          "content": "# 1) Fixed -> Expression",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          240
        ],
        "id": "351d41fe-d8b1-4758-92e0-cd60f11775aa",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "552691fc-d12f-4a25-8db6-afb76eed81c5",
                "name": "=",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          544,
          352
        ],
        "id": "16f34390-da52-4090-b4ff-15d7e47798e9",
        "name": "Expression"
      },
      {
        "parameters": {
          "content": "# 25 n8n Hacks\nAuthor: [Nate Herk](https://www.youtube.com/@nateherk) ",
          "height": 100,
          "width": 720,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          112
        ],
        "id": "6abf5416-b688-44d9-b193-e8bc8973e36d",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "# 11) Save Credentials\n",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          3344
        ],
        "id": "6e94184f-8ab1-40ab-9a47-19212bf28dd2",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.perplexity.ai/chat/completions",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and concise.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"What is n8n?\"\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          368,
          3456
        ],
        "id": "f217e340-ac05-4d4d-813f-9b164aa660b5",
        "name": "Perplexity1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"query\": \"{{ $json.query }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          768,
          3456
        ],
        "id": "d468f915-528f-4248-a6f0-33b6d897fac8",
        "name": "Tavily"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/images/generations",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "gpt-image-1"
              },
              {
                "name": "prompt",
                "value": "A cute baby sea otter"
              },
              {
                "name": "size",
                "value": "1024x1024"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          560,
          3456
        ],
        "id": "9961f344-e39d-4d1c-addd-737f38e8df44",
        "name": "OpenAI"
      },
      {
        "parameters": {
          "content": "# 24) .join()\n",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          7440
        ],
        "id": "c3216732-4a39-45e1-a9d0-7c02ec6192df",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6f18f458-174c-4756-acf6-a8d9cb04e072",
                "name": "foods",
                "value": "[\"apple\",\"banana\",\"steak\"]",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          448,
          7552
        ],
        "id": "8cfae618-a99b-4887-ae19-c092be27ea0c",
        "name": "Array"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cc21d18c-dd1b-4b18-ae8e-f883542ff2a1",
                "name": "list",
                "value": "={{ $json.foods.join(\"\\n\\n\\n\\n\\n\") }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          656,
          7552
        ],
        "id": "16723b42-0891-4dcd-9c78-8856e1e2edfe",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "content": "# 25) .replace(/\"/g, '')\n",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          7776
        ],
        "id": "f890f74a-d69f-432c-bd5a-fb6812050007",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6f7a5a6a-d14e-4e29-b81e-30e24a059c38",
                "name": "query",
                "value": "\"pineapples on pizza\"",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          448,
          7904
        ],
        "id": "28ac9f57-bd7d-4601-83ad-a7c0461502be",
        "name": "Set"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"query\": \"{{ $json.query.replace(/\"/g, '') }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          656,
          7904
        ],
        "id": "4713630a-7362-4611-a696-b0514b209ba0",
        "name": "Web Search"
      },
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "options": {}
        },
        "id": "69e4a3be-5922-46e4-b248-de172cff1342",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          768,
          6080
        ],
        "disabled": true
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "86cdec96-5b06-4377-9b8a-3b8801070e10",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          528,
          5984
        ]
      },
      {
        "parameters": {
          "jsCode": "// Define an array of URLs\nconst urls = [\n  { url: \"https://www.mcdonalds.com/us/en-us.html\" },\n  { url: \"https://www.chipotle.com/\" },\n  { url: \"https://example.com/invalid-file\" }\n];\n\n// Return the array as output\nreturn urls.map(item => ({ json: item }));\n"
        },
        "id": "44a19387-c92c-435b-97b6-7975b949e3a0",
        "name": "Set URLs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          336,
          5984
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "00873281-b8c8-400e-8385-e5fd5e35ae9d",
                "name": "data",
                "value": "={{ $json.data }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "0ab6e781-22f3-4c96-90ea-8898866f68cc",
        "name": "Example",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          768,
          5904
        ]
      },
      {
        "parameters": {
          "content": "# 20) Continue on Error",
          "height": 500,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          5792
        ],
        "id": "06096878-9ffc-433b-8ae3-929b234f2b5a",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "content": "# 5) Deactivate",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          1616
        ],
        "id": "2550b2a5-283b-4ff6-bebb-52685aaf2fea",
        "name": "Sticky Note11"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          560,
          1744
        ],
        "id": "04a07779-c93b-4e3f-b5e5-1e54055649cb",
        "name": "Gmail",
        "webhookId": "6d0a10b1-a0b0-4e26-b090-e73e3b0528ed",
        "disabled": true
      },
      {
        "parameters": {
          "content": "# 9) n8n Attribution",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          2656
        ],
        "id": "78aacd14-02d6-4fdb-996f-869e2de24464",
        "name": "Sticky Note12"
      },
      {
        "parameters": {
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          336,
          2784
        ],
        "id": "12684fb4-e3f1-4d67-8066-8c8757d7dcba",
        "name": "Gmail1",
        "webhookId": "6d0a10b1-a0b0-4e26-b090-e73e3b0528ed",
        "disabled": true
      },
      {
        "parameters": {
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          560,
          2784
        ],
        "id": "c15bded5-2694-4539-acb8-ca152de160ed",
        "name": "Telegram",
        "webhookId": "9f206520-18ce-48df-9744-b6053353cc89",
        "disabled": true
      },
      {
        "parameters": {
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          784,
          2784
        ],
        "id": "7010caae-eaba-4b6f-97db-5a6ba721bee9",
        "name": "Slack",
        "webhookId": "ce653653-ff32-4fe6-9d17-3dfe9cf1657b",
        "disabled": true
      },
      {
        "parameters": {
          "content": "# 12) Error Workflow\n\n",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          3680
        ],
        "id": "5479b11f-b217-4474-8dad-101dee207b45",
        "name": "Sticky Note9"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          544,
          3792
        ],
        "id": "d4a55096-e0d5-4d32-9db2-fa35fc1f6176",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "bafeeae4-afd2-46f0-b29d-cae8ee872011",
                "name": "Workflow Name",
                "value": "={{ $workflow.name }}",
                "type": "string"
              },
              {
                "id": "49bacaac-fb66-4ba4-b63d-cee0f320be44",
                "name": "Workflow ID",
                "value": "={{ $workflow.id }}",
                "type": "string"
              },
              {
                "id": "92077203-7521-4c65-9f23-e474b59c3026",
                "name": "Workflow Active?",
                "value": "={{ $workflow.active }}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          544,
          4144
        ],
        "id": "9856f0b2-8b13-4cf7-a525-b38418b628af",
        "name": "Workflow Variables"
      },
      {
        "parameters": {
          "content": "# 13) Workflow Variables\n\n",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          4016
        ],
        "id": "5d2d6dd7-0f36-401a-979d-a9fb376913f5",
        "name": "Sticky Note10"
      },
      {
        "parameters": {
          "content": "# 14) Specify Input\n\n\n",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          4352
        ],
        "id": "ed7dc516-bd02-466c-bab2-e8fa298bf13d",
        "name": "Sticky Note13"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "phone numebr"
              },
              {
                "name": "email"
              },
              {
                "name": "customer name"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          544,
          4480
        ],
        "id": "41654ec4-9fb1-4bcb-ad2a-079cf0e1c887",
        "name": "When Executed by Another Workflow",
        "disabled": true
      },
      {
        "parameters": {
          "content": "# 21) Error Output\n",
          "height": 400,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          6320
        ],
        "id": "0d1b1027-4916-4a31-97c4-150089c73926",
        "name": "Sticky Note14"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          304,
          6432
        ],
        "id": "7a29f4ba-41a7-4710-817f-acdfe2f4a41f",
        "name": "AI Agent",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          320,
          6576
        ],
        "id": "34b40ee9-3528-48db-b2d9-bc844a6bdb02",
        "name": "OpenRouter Chat Model1"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          736,
          6432
        ],
        "id": "d54b6a02-008f-48be-be4b-74c8ddd523de",
        "name": "Aggregate",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "# 15) Sub Execution Data\n\n\n",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          4704
        ],
        "id": "b7f82061-f1bf-4935-be72-64cc97fe02dd",
        "name": "Sticky Note15"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "Send an email to nate@example.com asking if he enjoys playing with sand",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          448,
          4800
        ],
        "id": "bd1c476d-18d0-4ff7-99d2-458ef49119c0",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          304,
          4880
        ],
        "id": "b4f4e7ea-4b4a-44ab-95c2-758be2b66c27",
        "name": "OpenRouter Chat Model2"
      },
      {
        "parameters": {
          "description": "Call this tool to send emails",
          "workflowId": {
            "__rl": true,
            "value": "C3hLlOS4O6ZJtVFy",
            "mode": "list",
            "cachedResultName": "🤖Email Agent"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          768,
          4864
        ],
        "id": "f42e33e1-b958-42b0-916d-d065c3d1296d",
        "name": "Email Agent"
      },
      {
        "parameters": {
          "content": "# 16) Agent Logs\n\n\n",
          "height": 80,
          "width": 320
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1008,
          4736
        ],
        "id": "29702f2a-19e5-43b8-bf53-3a86cea102a9",
        "name": "Sticky Note16"
      },
      {
        "parameters": {
          "content": "# 17) Copy to Editor\n\n\n",
          "height": 80,
          "width": 320
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1008,
          4832
        ],
        "id": "7c51498f-cadc-4d3c-9878-dcc7e5e32c25",
        "name": "Sticky Note17"
      },
      {
        "parameters": {
          "content": "# 6) Organization",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          1952
        ],
        "id": "c3230189-e7b3-45e6-aac1-eb0d735ba1b1",
        "name": "Sticky Note18"
      },
      {
        "parameters": {
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          336,
          2064
        ],
        "id": "9463bce4-c4c7-4618-b211-cb5d73cae8b3",
        "name": "Sticky Note19"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          704,
          2080
        ],
        "id": "f2d377d8-3ddd-45bc-8a14-4a9595bc2726",
        "name": "Merge"
      },
      {
        "parameters": {
          "content": "# 19) Standardize Input\n\n\n",
          "height": 400,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          5376
        ],
        "id": "1f72ee55-92b0-47e4-98a6-a3e34f692ba2",
        "name": "Sticky Note20"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.message.text }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          624,
          5472
        ],
        "id": "19954c3b-6fce-4759-aabc-d1d98b7f15da",
        "name": "AI Agent2"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          864,
          5664
        ],
        "id": "666d7af9-50d9-4693-8dae-3ac47118ad9e",
        "name": "OpenRouter Chat Model3"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          304,
          5616
        ],
        "id": "bd285081-a9e6-4324-8fe4-39ce0ad14f5b",
        "name": "When chat message received",
        "webhookId": "b144fd02-2399-44be-8d3a-a2098a6db81d",
        "disabled": true
      },
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          304,
          5472
        ],
        "id": "b227a5c4-7a41-4642-8663-71e8b551b402",
        "name": "Telegram Trigger",
        "webhookId": "65b00106-6566-4aa1-8a54-f46d4dc2275b",
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "aef7f30e-507a-4284-9b5f-2b4e7ddcaf85",
                "name": "message.text",
                "value": "={{ $json.chatInput }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          464,
          5616
        ],
        "id": "98aa01c2-34fc-4dfb-9654-108a2bf93d94",
        "name": "Set Text"
      },
      {
        "parameters": {
          "content": "# 18) Human in the Loop\n\n\n",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          5040
        ],
        "id": "7038f84e-9dfe-494c-b52d-6033c39ab41b",
        "name": "Sticky Note21"
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "guildId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          }
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          336,
          5152
        ],
        "id": "0ba4a599-b8ec-44d3-9648-5a30146fdbd6",
        "name": "Discord",
        "webhookId": "6b57f912-7c07-4d58-858f-d93a93be10f2",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "options": {}
        },
        "type": "n8n-nodes-base.googleChat",
        "typeVersion": 1,
        "position": [
          560,
          5152
        ],
        "id": "5020b756-52f5-4bda-9d55-315a74388e32",
        "name": "Google Chat",
        "webhookId": "3331fc51-830c-47bc-976a-3498f42e711a",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "user": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "responseType": "freeText",
          "options": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          784,
          5152
        ],
        "id": "27a8960a-6a69-4477-afc9-1cfe0f24d6f6",
        "name": "Slack1",
        "webhookId": "c2d018a7-25fc-44ec-a77a-eaf1dd92c435",
        "disabled": true
      },
      {
        "parameters": {
          "content": "# 7) Workflow History",
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          2304
        ],
        "id": "dfe1616f-fe88-40fb-91e7-7d87b75645a4",
        "name": "Sticky Note22"
      },
      {
        "parameters": {
          "content": "# 8) Tab",
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          2480
        ],
        "id": "89cd3a8c-f595-47fb-93e0-99bbb468882d",
        "name": "Sticky Note23"
      },
      {
        "parameters": {
          "content": "# 3) Mock Data",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          912
        ],
        "id": "5f6cb1b4-8a2a-4a9c-902e-c8b0865cbcef",
        "name": "Sticky Note24"
      },
      {
        "parameters": {
          "content": "# 22) Other Settings\n",
          "height": 320,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          6736
        ],
        "id": "6b0ec9c5-7de8-45af-9a5c-cc2da60f8f20",
        "name": "Sticky Note25"
      },
      {
        "parameters": {
          "url": "https://www.chipotle.com/",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          320,
          6864
        ],
        "id": "77300848-444a-4c27-b145-25ca4a82aa23",
        "name": "HTTP Request1",
        "retryOnFail": true
      },
      {
        "parameters": {
          "fieldToSplitOut": "test",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          560,
          6864
        ],
        "id": "ceff1b2c-0db7-4825-b522-fb60f4b84ba9",
        "name": "Split Out"
      },
      {
        "parameters": {
          "duplicateItem": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          784,
          6864
        ],
        "id": "068c5b32-a637-4f6d-83d4-0679604cba44",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "Output 4 stories",
          "hasOutputParser": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          464,
          7200
        ],
        "id": "e32a037b-2e38-47c6-ae3b-a88800fd91ae",
        "name": "AI Agent3"
      },
      {
        "parameters": {
          "content": "# 23) Agent Structured Outputs\n",
          "height": 340,
          "width": 720
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          256,
          7072
        ],
        "id": "34718cd5-5b9e-488b-8ae3-34232fbfce83",
        "name": "Sticky Note26"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          320,
          7280
        ],
        "id": "fdadebf4-7ae2-41c7-9c4b-96216d862816",
        "name": "OpenRouter Chat Model4"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"scene1\": \"scene1\",\n  \"scene2\": \"scene2\",\n  \"scene3\": \"scene3\",\n  \"scene4\": \"scene4\"\n}\n"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          816,
          7280
        ],
        "id": "793bc8f3-4f00-4672-b7de-634c3c9310a5",
        "name": "Structured Output Parser"
      }
    ],
    "connections": {
      "1": {
        "main": [
          [
            {
              "node": "2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "2": {
        "main": [
          [
            {
              "node": "3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Perplexity": {
        "main": [
          [
            {
              "node": "Answer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Current Time",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Array": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set": {
        "main": [
          [
            {
              "node": "Web Search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Example",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set URLs": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Email Agent": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model3": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent2",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "AI Agent2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "Set Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Text": {
        "main": [
          [
            {
              "node": "AI Agent2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model4": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent3",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent3",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": []
  }
}