workflows/Audio_to_Text_Transcriber_73kdZ1gmr4goqn8g.json
{
  "updatedAt": "2025-11-21T18:45:43.000Z",
  "createdAt": "2025-11-21T18:34:26.074Z",
  "id": "73kdZ1gmr4goqn8g",
  "name": "Audio to Text Transcriber",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Audio Transcription Service",
        "formDescription": "Upload an audio file (m4a, mp3, or WAV) to receive a PDF transcript",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Audio File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": "audio/mpeg,audio/mp4,audio/wav,audio/.m4a,.mp3,.m4a,.wav",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Transcribe Audio"
        }
      },
      "id": "a65cf33b-5242-4115-80d3-6d64d3882677",
      "name": "Audio Upload Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -672,
        96
      ],
      "webhookId": "88141914-2826-4024-afad-c2187c6a72c3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "supportedFormats",
              "value": "=audio/mpeg,audio/mp4,audio/wav,audio/x-m4a",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6d19c52d-f855-4f22-8cfe-5a4554a3c03b",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Audio Upload Form').item.json.audioFile.mimeType }}",
              "rightValue": "audio/mpeg",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $('Audio Upload Form').item.json.audioFile.mimeType }}",
              "rightValue": "audio/mp4",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $('Audio Upload Form').item.json.audioFile.mimeType }}",
              "rightValue": "audio/wav",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "id-4",
              "leftValue": "={{ $('Audio Upload Form').item.json.audioFile.mimeType }}",
              "rightValue": "audio/x-m4a",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "bd62fc57-cde0-4aac-8fff-52eccbca274a",
      "name": "Check File Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audioFile",
        "options": {}
      },
      "id": "5578ac40-d500-4c22-8b18-dfcc9deb1d10",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "IfZ7w9jey4t4KuBS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "transcriptText",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "originalFilename",
              "value": "={{ $('Audio Upload Form').item.json.audioFile[0].filename }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "fileSize",
              "value": "={{ $('Audio Upload Form').item.json.audioFile[0].fileSize }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "3a6e727c-eb91-4cf5-a4dc-58fa03008f90",
      "name": "Format Transcript Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Audio Transcription</title>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Audio Transcription</h1>\n      <div class=\"metadata\">\n        <p><strong>Filename:</strong> {{ $('Audio Upload Form').item.json.filename }}</p>\n        <p><strong>Timestamp:</strong> {{ $now.format('MMMM DD, YYYY - HH:mm:ss') }}</p>\n      </div>\n    </div>\n    <div class=\"transcript\">\n      <h2>Transcript</h2>\n      <div class=\"transcript-text\">\n        {{ $('Format Transcript Data').item.json.transcript }}\n      </div>\n    </div>\n  </div>\n</body>\n</html>\n\n<style>\nbody {\n  font-family: Arial, sans-serif;\n  line-height: 1.6;\n  color: #333;\n  margin: 0;\n  padding: 20px;\n  background-color: #f5f5f5;\n}\n\n.container {\n  max-width: 800px;\n  margin: 0 auto;\n  background-color: #ffffff;\n  padding: 40px;\n  border-radius: 8px;\n  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n}\n\n.header {\n  border-bottom: 2px solid #ff6d5a;\n  padding-bottom: 20px;\n  margin-bottom: 30px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 32px;\n  font-weight: bold;\n  margin: 0 0 20px 0;\n}\n\n.metadata {\n  background-color: #f9f9f9;\n  padding: 15px;\n  border-radius: 4px;\n}\n\n.metadata p {\n  margin: 8px 0;\n  font-size: 14px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 24px;\n  font-weight: bold;\n  margin: 0 0 20px 0;\n}\n\n.transcript-text {\n  background-color: #fafafa;\n  padding: 20px;\n  border-left: 4px solid #ff6d5a;\n  border-radius: 4px;\n  white-space: pre-wrap;\n  word-wrap: break-word;\n  font-size: 16px;\n  line-height: 1.8;\n}\n</style>"
      },
      "id": "3e7434bc-fad9-4bac-b14b-dfd48ff47f00",
      "name": "Generate HTML Document",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "operation": "html",
        "options": {
          "fileName": "={{ $json.originalFilename.replace(/\\.[^/.]+$/, '') + '_transcript.pdf' }}"
        }
      },
      "id": "8daf253d-901e-415e-b60c-ef3a2806c5fc",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "<__PLACEHOLDER_VALUE__Data Table ID for 'Transcriptions'__>"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "originalFilename": "={{ $json.originalFilename }}",
            "timestamp": "={{ $json.timestamp }}",
            "transcriptText": "={{ $json.transcriptText }}",
            "fileSize": "={{ $json.fileSize }}"
          }
        },
        "options": {}
      },
      "id": "3f2a9b1d-548b-437d-a6b1-d380a1fe2a4f",
      "name": "Store Transcription Record",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "error",
              "value": "Unsupported file type. Please upload an audio file in m4a, mp3, or WAV format.",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "status",
              "value": "error",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f4349d7e-a897-4440-9543-42a5511c380e",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ]
    }
  ],
  "connections": {
    "Audio Upload Form": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Check File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Type": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Format Transcript Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcript Data": {
      "main": [
        [
          {
            "node": "Generate HTML Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Document": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Store Transcription Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a505aeb6-8d1b-4a40-b0c2-5e1e8edb315d",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-13T17:39:50.340Z",
      "createdAt": "2025-12-13T17:39:50.340Z",
      "role": "workflow:owner",
      "workflowId": "73kdZ1gmr4goqn8g",
      "projectId": "HZqYjnNmPLW2kkrP",
      "project": {
        "updatedAt": "2025-12-12T12:37:29.393Z",
        "createdAt": "2025-12-12T12:34:20.173Z",
        "id": "HZqYjnNmPLW2kkrP",
        "name": "Miguel Simon <miguel.simon@digitalpneuma.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
        "projectRelations": [
          {
            "updatedAt": "2025-12-12T12:34:20.173Z",
            "createdAt": "2025-12-12T12:34:20.173Z",
            "userId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
            "projectId": "HZqYjnNmPLW2kkrP",
            "user": {
              "updatedAt": "2026-01-31T12:34:46.000Z",
              "createdAt": "2025-12-12T12:34:19.617Z",
              "id": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
              "email": "miguel.simon@digitalpneuma.com",
              "firstName": "Miguel",
              "lastName": "Simon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-12T12:39:28.094Z",
                "personalization_survey_n8n_version": "1.123.5",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "automationGoalDevopsOther": "Build workflows to automate manual processes",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "GjxXDVv1iBEVBdE4",
                "userActivatedAt": 1765753766341,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767113477505
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}