workflows/Content_Creator_SBS_PwREVKSuAwFlYsHq.json
{
  "updatedAt": "2025-09-25T11:22:44.000Z",
  "createdAt": "2025-09-24T20:29:52.549Z",
  "id": "PwREVKSuAwFlYsHq",
  "name": "Content Creator SBS",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        0
      ],
      "id": "26905ddc-1f43-4731-b48c-451626598ff4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert blog writer. Use the tavily tool to create a blog.\n\n## Tool\ntavily - use this to search the internet before writing your blog"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "1bf94651-e6a0-4523-9a28-480a933a0ce4",
      "name": "Content",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "a46926d6-d3c8-428f-a1a2-f9253155d2ab",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "O4Ms8iUOOIP77I0Z",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "call this tool to search the internet. ",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n\"query\": \"{{ $fromAI(searchTerm) }}\",\n\"topic\": \"general\",\n\"search_depth\": \"basic\",\n\"max_results\": 1,\n\"time_ range\": null,\n\"days\": 3,\n\"include_answer\": true,\n\"include_raw_content\": false,\n\"include_images\": false,\n\"include_image_descriptions\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        384,
        240
      ],
      "id": "000bdafc-395c-46ba-8cc0-b8c45f95b16a",
      "name": "tavily",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7vchEJYvIzry0phu",
          "name": "Tavily Credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f0e8e19-f99b-4f7d-a7de-a21fc7558e8a",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -64
      ],
      "id": "ca2673bd-1942-4bf0-bbaa-74d861cc7e96",
      "name": "Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d18357ec-b98b-446c-9f88-8a5f795aeb3e",
              "name": "response",
              "value": "Error. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        112
      ],
      "id": "c04f3622-e6f3-4d3d-8704-7667fbdd59d2",
      "name": "Try Again"
    },
    {
      "parameters": {
        "query": "={\n\"query\": \"(searchTerm)\",\n\"topic\": \"general\",\n\"search_depth\": \"basic\",\n\"max_results\": 1,\n\"time_ range\": null,\n\"days\": 3,\n\"include_answer\": true,\n\"include_raw_content\": false,\n\"include_images\": false,\n\"include_image_descriptions\": false\n}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        512,
        352
      ],
      "id": "b0706e52-a9a4-425e-aa97-7a43371612d2",
      "name": "tavily1",
      "credentials": {
        "tavilyApi": {
          "id": "Y2EI67oi3LsfrugU",
          "name": "Tavily account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "tavily": {
      "ai_tool": [
        []
      ]
    },
    "Content": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tavily1": {
      "ai_tool": [
        [
          {
            "node": "Content",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "write me a blog post on the key benefits of mirrorless cameras vs DSLR"
        }
      }
    ]
  },
  "versionId": "9f5881a4-1b5e-40d8-8517-08bfe8a0c1ba",
  "activeVersionId": "9f5881a4-1b5e-40d8-8517-08bfe8a0c1ba",
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-13T17:40:02.202Z",
      "createdAt": "2025-12-13T17:40:02.202Z",
      "role": "workflow:owner",
      "workflowId": "PwREVKSuAwFlYsHq",
      "projectId": "HZqYjnNmPLW2kkrP",
      "project": {
        "updatedAt": "2025-12-12T12:37:29.393Z",
        "createdAt": "2025-12-12T12:34:20.173Z",
        "id": "HZqYjnNmPLW2kkrP",
        "name": "Miguel Simon <miguel.simon@digitalpneuma.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
        "projectRelations": [
          {
            "updatedAt": "2025-12-12T12:34:20.173Z",
            "createdAt": "2025-12-12T12:34:20.173Z",
            "userId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
            "projectId": "HZqYjnNmPLW2kkrP",
            "user": {
              "updatedAt": "2026-01-31T12:34:46.000Z",
              "createdAt": "2025-12-12T12:34:19.617Z",
              "id": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
              "email": "miguel.simon@digitalpneuma.com",
              "firstName": "Miguel",
              "lastName": "Simon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-12T12:39:28.094Z",
                "personalization_survey_n8n_version": "1.123.5",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "automationGoalDevopsOther": "Build workflows to automate manual processes",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "GjxXDVv1iBEVBdE4",
                "userActivatedAt": 1765753766341,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767113477505
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-07T01:41:53.309Z",
    "createdAt": "2026-01-07T01:41:53.309Z",
    "versionId": "9f5881a4-1b5e-40d8-8517-08bfe8a0c1ba",
    "workflowId": "PwREVKSuAwFlYsHq",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -32,
          0
        ],
        "id": "26905ddc-1f43-4731-b48c-451626598ff4",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.query }}",
          "options": {
            "systemMessage": "=# Overview\nYou are an expert blog writer. Use the tavily tool to create a blog.\n\n## Tool\ntavily - use this to search the internet before writing your blog"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          208,
          0
        ],
        "id": "1bf94651-e6a0-4523-9a28-480a933a0ce4",
        "name": "Content",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "model": "google/gemini-2.5-flash",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          80,
          208
        ],
        "id": "a46926d6-d3c8-428f-a1a2-f9253155d2ab",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "O4Ms8iUOOIP77I0Z",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "call this tool to search the internet. ",
          "method": "POST",
          "url": "https://api.tavily.com/search",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n\"query\": \"{{ $fromAI(searchTerm) }}\",\n\"topic\": \"general\",\n\"search_depth\": \"basic\",\n\"max_results\": 1,\n\"time_ range\": null,\n\"days\": 3,\n\"include_answer\": true,\n\"include_raw_content\": false,\n\"include_images\": false,\n\"include_image_descriptions\": false\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.2,
        "position": [
          384,
          240
        ],
        "id": "000bdafc-395c-46ba-8cc0-b8c45f95b16a",
        "name": "tavily",
        "credentials": {
          "httpHeaderAuth": {
            "id": "7vchEJYvIzry0phu",
            "name": "Tavily Credential"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2f0e8e19-f99b-4f7d-a7de-a21fc7558e8a",
                "name": "response",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          640,
          -64
        ],
        "id": "ca2673bd-1942-4bf0-bbaa-74d861cc7e96",
        "name": "Success"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d18357ec-b98b-446c-9f88-8a5f795aeb3e",
                "name": "response",
                "value": "Error. Please try again.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          640,
          112
        ],
        "id": "c04f3622-e6f3-4d3d-8704-7667fbdd59d2",
        "name": "Try Again"
      },
      {
        "parameters": {
          "query": "={\n\"query\": \"(searchTerm)\",\n\"topic\": \"general\",\n\"search_depth\": \"basic\",\n\"max_results\": 1,\n\"time_ range\": null,\n\"days\": 3,\n\"include_answer\": true,\n\"include_raw_content\": false,\n\"include_images\": false,\n\"include_image_descriptions\": false\n}",
          "options": {}
        },
        "type": "@tavily/n8n-nodes-tavily.tavilyTool",
        "typeVersion": 1,
        "position": [
          512,
          352
        ],
        "id": "b0706e52-a9a4-425e-aa97-7a43371612d2",
        "name": "tavily1",
        "credentials": {
          "tavilyApi": {
            "id": "Y2EI67oi3LsfrugU",
            "name": "Tavily account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Content",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "tavily": {
        "ai_tool": [
          []
        ]
      },
      "Content": {
        "main": [
          [
            {
              "node": "Success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Try Again",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tavily1": {
        "ai_tool": [
          [
            {
              "node": "Content",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": []
  }
}