workflows/Contact_Agent_SBS_E1y8Wwm2nYyQxMPG.json
{
  "updatedAt": "2025-09-24T11:57:43.000Z",
  "createdAt": "2025-09-23T14:50:02.229Z",
  "id": "E1y8Wwm2nYyQxMPG",
  "name": "Contact Agent SBS",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b8480957-9aaa-4cd9-8201-5ddaa9003726",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a contact manager. You have tools to take action within the contact database.\n\n## Tools\nGet Contacts - Use this to get contact information like email address or phone number.\nAdd or Update Contact - Use this to add a new contact to the database or update an existing\ncontact."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "8d67d956-7cd7-4f53-8a24-efe0a0972433",
      "name": "Contact",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        208
      ],
      "id": "9be3e4c7-6b3b-4875-9ce9-5dc452697fcf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IfZ7w9jey4t4KuBS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app52gw2E0NQelq9N",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/app52gw2E0NQelq9N"
        },
        "table": {
          "__rl": true,
          "value": "tbll3fQAZ4e4oqcl2",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/app52gw2E0NQelq9N/tbll3fQAZ4e4oqcl2"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        288,
        288
      ],
      "id": "1da43183-ee3e-4d14-a814-db67cadc8282",
      "name": "Get Contacts",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "n97nuRFVyl6Ii18g",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "app52gw2E0NQelq9N",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/app52gw2E0NQelq9N"
        },
        "table": {
          "__rl": true,
          "value": "tbll3fQAZ4e4oqcl2",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/app52gw2E0NQelq9N/tbll3fQAZ4e4oqcl2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $fromAI(\"name\") }}",
            "Email": "={{ $fromAI(\"email\") }}",
            "Phone": "={{ $fromAI(\"phone\") }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        432,
        288
      ],
      "id": "278c4927-bae2-4a9b-8fb9-0fef7347d9cc",
      "name": "Add or Update Contact",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "n97nuRFVyl6Ii18g",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f0e8e19-f99b-4f7d-a7de-a21fc7558e8a",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -64
      ],
      "id": "32e3c5c6-40dd-45b9-b5eb-e08d41d3b988",
      "name": "Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d18357ec-b98b-446c-9f88-8a5f795aeb3e",
              "name": "response",
              "value": "Error. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        112
      ],
      "id": "fa42dc5e-0d6f-48b4-a848-5f9fc317a7c2",
      "name": "Try Again"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Contact",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "ai_tool": [
        [
          {
            "node": "Contact",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add or Update Contact": {
      "ai_tool": [
        [
          {
            "node": "Contact",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "961431fd-8d3f-491d-a9c9-dc34668ac357",
  "activeVersionId": "961431fd-8d3f-491d-a9c9-dc34668ac357",
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-13T17:39:59.843Z",
      "createdAt": "2025-12-13T17:39:59.843Z",
      "role": "workflow:owner",
      "workflowId": "E1y8Wwm2nYyQxMPG",
      "projectId": "HZqYjnNmPLW2kkrP",
      "project": {
        "updatedAt": "2025-12-12T12:37:29.393Z",
        "createdAt": "2025-12-12T12:34:20.173Z",
        "id": "HZqYjnNmPLW2kkrP",
        "name": "Miguel Simon <miguel.simon@digitalpneuma.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
        "projectRelations": [
          {
            "updatedAt": "2025-12-12T12:34:20.173Z",
            "createdAt": "2025-12-12T12:34:20.173Z",
            "userId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
            "projectId": "HZqYjnNmPLW2kkrP",
            "user": {
              "updatedAt": "2026-01-31T12:34:46.000Z",
              "createdAt": "2025-12-12T12:34:19.617Z",
              "id": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
              "email": "miguel.simon@digitalpneuma.com",
              "firstName": "Miguel",
              "lastName": "Simon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-12T12:39:28.094Z",
                "personalization_survey_n8n_version": "1.123.5",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "automationGoalDevopsOther": "Build workflows to automate manual processes",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "GjxXDVv1iBEVBdE4",
                "userActivatedAt": 1765753766341,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767113477505
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-07T01:41:53.309Z",
    "createdAt": "2026-01-07T01:41:53.309Z",
    "versionId": "961431fd-8d3f-491d-a9c9-dc34668ac357",
    "workflowId": "E1y8Wwm2nYyQxMPG",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "b8480957-9aaa-4cd9-8201-5ddaa9003726",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.query }}",
          "options": {
            "systemMessage": "=# Overview\nYou are a contact manager. You have tools to take action within the contact database.\n\n## Tools\nGet Contacts - Use this to get contact information like email address or phone number.\nAdd or Update Contact - Use this to add a new contact to the database or update an existing\ncontact."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          208,
          0
        ],
        "id": "8d67d956-7cd7-4f53-8a24-efe0a0972433",
        "name": "Contact",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "gpt-4o"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          80,
          208
        ],
        "id": "9be3e4c7-6b3b-4875-9ce9-5dc452697fcf",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "IfZ7w9jey4t4KuBS",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "app52gw2E0NQelq9N",
            "mode": "list",
            "cachedResultName": "Contacts",
            "cachedResultUrl": "https://airtable.com/app52gw2E0NQelq9N"
          },
          "table": {
            "__rl": true,
            "value": "tbll3fQAZ4e4oqcl2",
            "mode": "list",
            "cachedResultName": "Contacts",
            "cachedResultUrl": "https://airtable.com/app52gw2E0NQelq9N/tbll3fQAZ4e4oqcl2"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtableTool",
        "typeVersion": 2.1,
        "position": [
          288,
          288
        ],
        "id": "1da43183-ee3e-4d14-a814-db67cadc8282",
        "name": "Get Contacts",
        "credentials": {
          "airtableOAuth2Api": {
            "id": "n97nuRFVyl6Ii18g",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "operation": "upsert",
          "base": {
            "__rl": true,
            "value": "app52gw2E0NQelq9N",
            "mode": "list",
            "cachedResultName": "Contacts",
            "cachedResultUrl": "https://airtable.com/app52gw2E0NQelq9N"
          },
          "table": {
            "__rl": true,
            "value": "tbll3fQAZ4e4oqcl2",
            "mode": "list",
            "cachedResultName": "Contacts",
            "cachedResultUrl": "https://airtable.com/app52gw2E0NQelq9N/tbll3fQAZ4e4oqcl2"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Name": "={{ $fromAI(\"name\") }}",
              "Email": "={{ $fromAI(\"email\") }}",
              "Phone": "={{ $fromAI(\"phone\") }}"
            },
            "matchingColumns": [
              "Name"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": false
              },
              {
                "id": "Name",
                "displayName": "Name",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtableTool",
        "typeVersion": 2.1,
        "position": [
          432,
          288
        ],
        "id": "278c4927-bae2-4a9b-8fb9-0fef7347d9cc",
        "name": "Add or Update Contact",
        "credentials": {
          "airtableOAuth2Api": {
            "id": "n97nuRFVyl6Ii18g",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2f0e8e19-f99b-4f7d-a7de-a21fc7558e8a",
                "name": "response",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          656,
          -64
        ],
        "id": "32e3c5c6-40dd-45b9-b5eb-e08d41d3b988",
        "name": "Success"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d18357ec-b98b-446c-9f88-8a5f795aeb3e",
                "name": "response",
                "value": "Error. Please try again.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          656,
          112
        ],
        "id": "fa42dc5e-0d6f-48b4-a848-5f9fc317a7c2",
        "name": "Try Again"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Contact",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Get Contacts": {
        "ai_tool": [
          [
            {
              "node": "Contact",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Add or Update Contact": {
        "ai_tool": [
          [
            {
              "node": "Contact",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Contact": {
        "main": [
          [
            {
              "node": "Success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Try Again",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": []
  }
}