workflows/My_workflow_8_8PORAePe9XjLPdFD.json
{
  "updatedAt": "2025-08-10T20:12:28.832Z",
  "createdAt": "2025-08-10T20:12:28.832Z",
  "id": "8PORAePe9XjLPdFD",
  "name": "My workflow 8",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "00939625-588e-4d06-a7c9-a4f820f6aadc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "inputText": "={{ $json.query }}",
        "categories": {
          "categories": [
            {
              "category": "high priority",
              "description": "any form that has a budget over $15,000"
            },
            {
              "category": "medium priority",
              "description": "any form that has a budget between $5k and $15K"
            },
            {
              "category": "low priority",
              "description": "any form that has a budget less than $5,000"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "7e546b66-bd78-443a-8a98-0b7c57b1c5c1",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "d3931897-9243-4f4e-bc22-670d6a013114",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "l1L18JG0n3GhTJuh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "query": "Hi, my name is Alex Carter from Visionary Tech. We need an Al automation to streamline our customer onboarding process. Our team consists of around 75 employees, and we're working with a budget of $15,000 to $20,000. Ideally, we'd like this project completed in the next 2 months."
        }
      }
    ]
  },
  "versionId": "86fa708a-9868-4e74-939a-a8db5a82c1bc",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-13T17:41:50.396Z",
      "createdAt": "2025-12-13T17:41:50.396Z",
      "role": "workflow:owner",
      "workflowId": "8PORAePe9XjLPdFD",
      "projectId": "HZqYjnNmPLW2kkrP",
      "project": {
        "updatedAt": "2025-12-12T12:37:29.393Z",
        "createdAt": "2025-12-12T12:34:20.173Z",
        "id": "HZqYjnNmPLW2kkrP",
        "name": "Miguel Simon <miguel.simon@digitalpneuma.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
        "projectRelations": [
          {
            "updatedAt": "2025-12-12T12:34:20.173Z",
            "createdAt": "2025-12-12T12:34:20.173Z",
            "userId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
            "projectId": "HZqYjnNmPLW2kkrP",
            "user": {
              "updatedAt": "2026-01-31T12:34:46.000Z",
              "createdAt": "2025-12-12T12:34:19.617Z",
              "id": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
              "email": "miguel.simon@digitalpneuma.com",
              "firstName": "Miguel",
              "lastName": "Simon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-12T12:39:28.094Z",
                "personalization_survey_n8n_version": "1.123.5",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "automationGoalDevopsOther": "Build workflows to automate manual processes",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "GjxXDVv1iBEVBdE4",
                "userActivatedAt": 1765753766341,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767113477505
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}