workflows/NEW_Ministers_Credentialing_Forms_YJGlLvQwsSq47kmHQpbCY.json
{
  "updatedAt": "2026-01-30T13:22:39.058Z",
  "createdAt": "2026-01-30T12:18:54.237Z",
  "id": "YJGlLvQwsSq47kmHQpbCY",
  "name": "NEW-Ministers Credentialing Forms",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "custom": ""
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -1264,
        -16
      ],
      "id": "9275b265-d593-478e-a9d3-4bdc77245337",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "PyUiSAwxntgVqKlJ",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Renewal Email Data - Extract year from date\nconst emailBody = $input.first().json.bodyPreview || $input.first().json.body;\n\nconsole.log('Original email body:', emailBody);\n\n// Clean up the text\nconst cleanText = emailBody\n  .replace(/\\\\n/g, '\\n')\n  .replace(/<br\\s*\\/?>/gi, '\\n')\n  .replace(/<[^>]+>/g, '')\n  .trim();\n\nconsole.log('Clean text:', cleanText);\n\nconst lines = cleanText.split('\\n').map(line => line.trim()).filter(line => line.length > 0);\n\nconsole.log('Lines:', lines);\n\nconst extracted = {};\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i];\n  \n  if (line.match(/^\\d+\\.\\s*Full Name/i)) {\n    if (i + 1 < lines.length) {\n      extracted.full_name = lines[i + 1];\n    }\n  } else if (line.match(/^\\d+\\.\\s*Date/i)) {\n    if (i + 1 < lines.length) {\n      extracted.date = lines[i + 1];\n      // Extract year from date\n      try {\n        const dateMatch = lines[i + 1].match(/(\\d{4})/);\n        if (dateMatch) {\n          extracted.year = dateMatch[1];\n        } else {\n          extracted.year = new Date().getFullYear().toString();\n        }\n      } catch (e) {\n        extracted.year = new Date().getFullYear().toString();\n      }\n    }\n  } else if (line.match(/^\\d+\\.\\s*Email/i)) {\n    if (i + 1 < lines.length) {\n      extracted.email_address = lines[i + 1];\n    }\n  } else if (line.match(/^\\d+\\.\\s*Phone/i)) {\n    if (i + 1 < lines.length) {\n      extracted.phone_number = lines[i + 1];\n    }\n  } else if (line.match(/^\\d+\\.\\s*Changes/i)) {\n    const remainingLines = [];\n    for (let j = i + 1; j < lines.length; j++) {\n      remainingLines.push(lines[j]);\n    }\n    extracted.changes = remainingLines.join(' ');\n    break;\n  }\n}\n\nconsole.log('Extracted fields:', extracted);\n\nreturn [{ json: extracted }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        -32
      ],
      "id": "d044d314-bbf2-478c-bf22-43dbe1d404a4",
      "name": "Parse Email Data"
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "01WYROSL5NHUO4T4ZQDFDJFOBEWWW7JUJE"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -608,
        -32
      ],
      "id": "70d555a0-2ee6-42ae-b53f-cfed706ee783",
      "name": "Get Year Folders",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "A4Jrv6VA0R61EDNs",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Find the matching year folder AND pass through the subject\nconst year = $('Parse Email Data').first().json.year;\nconst allFolders = $input.all();\n\n// Get the original subject from the trigger\nconst originalSubject = $('Microsoft Outlook Trigger').first().json.subject;\n\nconsole.log('Looking for year folder:', year);\nconsole.log('Available folders:', allFolders.map(f => f.json.name));\nconsole.log('Original subject:', originalSubject);\n\n// Find exact match for the year\nconst yearFolder = allFolders.find(folder => \n  folder.json.name === year && folder.json.folder !== undefined\n);\n\nif (!yearFolder) {\n  throw new Error(`Year folder \"${year}\" not found. Please create it in OneDrive first.`);\n}\n\nconsole.log('Found year folder:', yearFolder.json.name, 'ID:', yearFolder.json.id);\n\nreturn [{\n  json: {\n    yearFolderId: yearFolder.json.id,\n    yearFolderName: yearFolder.json.name,\n    year: year,\n    webUrl: yearFolder.json.webUrl,\n    // Pass through the parsed email data\n    full_name: $('Parse Email Data').first().json.full_name,\n    email_address: $('Parse Email Data').first().json.email_address,\n    date: $('Parse Email Data').first().json.date,\n    phone_number: $('Parse Email Data').first().json.phone_number,\n    changes: $('Parse Email Data').first().json.changes,\n    // IMPORTANT: Pass through the original subject so the next IF node can check it\n    original_subject: originalSubject\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -32
      ],
      "id": "9315f931-2e26-4723-b018-9f3b7f29ec45",
      "name": "Find Year Folder"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb75bffe-d1d0-45b4-8cf5-6002486a7f96",
              "name": "attachment",
              "value": "={{ $('Microsoft Outlook Trigger').item.binary.attachment_0 }}",
              "type": "binary"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -144
      ],
      "id": "0b3a5cdb-4119-4004-944b-c77157bae1bc",
      "name": "Edit Fields (Application)"
    },
    {
      "parameters": {
        "fileName": "={{ $binary.attachment.fileName }}",
        "parentId": "={{ $('Find Year Folder').item.json.yearFolderId }}",
        "binaryData": true,
        "binaryPropertyName": "attachment"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        256,
        -144
      ],
      "id": "21fb51ff-4fe3-425e-8889-e9f83a014a67",
      "name": "Save Photos to OneDrive",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "A4Jrv6VA0R61EDNs",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the parsed form data for RENEWAL forms\nconst formData = $('Find Year Folder').first().json;\n\n// Build simple, clean HTML for renewal forms\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { \n      font-family: Arial, sans-serif; \n      max-width: 800px; \n      margin: 20px auto;\n      padding: 20px;\n      background-color: #f9fafb;\n    }\n    .container {\n      background-color: white;\n      padding: 30px;\n      border-radius: 8px;\n      box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n    }\n    h1 { \n      color: #2c5282; \n      border-bottom: 3px solid #4299e1;\n      padding-bottom: 10px;\n    }\n    .field { \n      margin: 20px 0; \n      padding: 10px;\n      background-color: #f7fafc;\n      border-left: 4px solid #4299e1;\n    }\n    .label { \n      font-weight: bold; \n      color: #2d3748;\n      display: block;\n      margin-bottom: 5px;\n      text-transform: capitalize;\n    }\n    .value { \n      color: #4a5568;\n      font-size: 16px;\n    }\n    .footer {\n      margin-top: 30px;\n      padding-top: 20px;\n      border-top: 1px solid #e2e8f0;\n      color: #718096;\n      font-size: 14px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Minister Credential Renewal - ${formData.year}</h1>\n    \n    <div class=\"field\">\n      <span class=\"label\">Full Name</span>\n      <span class=\"value\">${formData.full_name || 'N/A'}</span>\n    </div>\n    \n    <div class=\"field\">\n      <span class=\"label\">Email Address</span>\n      <span class=\"value\">${formData.email_address || 'N/A'}</span>\n    </div>\n    \n    <div class=\"field\">\n      <span class=\"label\">Phone Number</span>\n      <span class=\"value\">${formData.phone_number || 'N/A'}</span>\n    </div>\n    \n    <div class=\"field\">\n      <span class=\"label\">Date</span>\n      <span class=\"value\">${formData.date || 'N/A'}</span>\n    </div>\n    \n    <div class=\"field\">\n      <span class=\"label\">Changes</span>\n      <span class=\"value\">${formData.changes || 'No changes reported'}</span>\n    </div>\n    \n    <div class=\"footer\">\n      <em>Submitted: ${new Date().toLocaleString()}</em>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: formData,\n  binary: {\n    data: {\n      data: Buffer.from(html).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'renewal-form.html'\n    }\n  }\n}];"
      },
      "id": "42e8cea1-37c7-418c-b2b5-f3b10957fcfd",
      "name": "Convert Renewal to HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the parsed form data for APPLICATION forms\nconst formData = $('Find Year Folder').item.json;\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { \n      font-family: Arial, sans-serif; \n      max-width: 900px; \n      margin: 20px auto;\n      padding: 20px;\n      background-color: #f9fafb;\n    }\n    .container {\n      background-color: white;\n      padding: 30px;\n      border-radius: 8px;\n      box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n    }\n    h1 { \n      color: #2c5282; \n      border-bottom: 3px solid #4299e1;\n      padding-bottom: 10px;\n    }\n    .placeholder {\n      background-color: #fef3c7;\n      border: 2px dashed #f59e0b;\n      padding: 20px;\n      margin: 20px 0;\n      border-radius: 4px;\n    }\n    .field { \n      margin: 20px 0; \n      padding: 10px;\n      background-color: #f7fafc;\n      border-left: 4px solid #4299e1;\n    }\n    .label { \n      font-weight: bold; \n      color: #2d3748;\n      display: block;\n      margin-bottom: 5px;\n      text-transform: capitalize;\n    }\n    .value { \n      color: #4a5568;\n      font-size: 16px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Minister Application Form - ${formData.year}</h1>\n    \n    <div class=\"placeholder\">\n      <strong>⚠️ Complex Application Parser - Under Development</strong>\n      <p>This section will be enhanced to handle 40+ fields with proper formatting.</p>\n    </div>\n    \n    ${Object.entries(formData)\n      .filter(([key]) => !['yearFolderId', 'yearFolderName', 'webUrl'].includes(key))\n      .map(([key, value]) => `\n      <div class=\"field\">\n        <span class=\"label\">${key.replace(/_/g, ' ')}</span>\n        <span class=\"value\">${value || 'N/A'}</span>\n      </div>\n    `).join('')}\n    \n    <p><em>Submitted: ${new Date().toLocaleString()}</em></p>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: formData,\n  binary: {\n    data: {\n      data: Buffer.from(html).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'application-form.html'\n    }\n  }\n}];"
      },
      "id": "0e27b2ee-e688-4f01-9e5f-7106108e381d",
      "name": "Convert Application to HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -144
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $json.full_name.toLowerCase().replace(/\\s+/g, '-') }}-{{ $now.format('MMMM-yyyy').toLowerCase() }}-application-form.html",
        "parentId": "={{ $json.yearFolderId }}",
        "binaryData": true
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        672,
        -144
      ],
      "id": "d339f844-6339-4509-a0ac-9cbd8ae53bde",
      "name": "Upload Application HTML",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "A4Jrv6VA0R61EDNs",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "ashley@eagleworldwide.com, joanna@eagleworldwide.com",
        "subject": "=New Minister Renewal: {{ $('Find Year Folder').first().json.full_name }}",
        "bodyContent": "=<html>\n<body style=\"font-family: Arial, sans-serif; color: #333; max-width: 600px;\">\n  \n<h2 style=\"color: #2c5282;\">✅ New Minister Renewal Submitted</h2>\n\n<div style=\"background-color: #f7fafc; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n  <p style=\"margin: 10px 0;\"><strong>Minister:</strong> {{ $('Find Year Folder').first().json.full_name || 'N/A' }}</p>\n  <p style=\"margin: 10px 0;\"><strong>Email:</strong> {{ $('Find Year Folder').first().json.email_address || 'N/A' }}</p>\n  <p style=\"margin: 10px 0;\"><strong>Date:</strong> {{ $('Find Year Folder').first().json.date || 'N/A' }}</p>\n  <p style=\"margin: 10px 0;\"><strong>Phone:</strong> {{ $('Find Year Folder').first().json.phone_number || 'N/A' }}</p>\n  <p style=\"margin: 10px 0;\"><strong>Year:</strong> {{ $('Find Year Folder').first().json.year || 'N/A' }}</p>\n</div>\n\n<div style=\"background-color: #e6f7ff; padding: 15px; border-left: 4px solid #2c5282; margin: 20px 0;\">\n  <p style=\"margin: 5px 0;\"><strong>Changes Reported:</strong></p>\n  <p style=\"margin: 5px 0;\">{{ $('Find Year Folder').first().json.changes || 'No changes reported' }}</p>\n</div>\n\n<div style=\"margin: 30px 0;\">\n  <a href=\"{{ $('Find Year Folder').first().json.webUrl }}\" \n     style=\"display: inline-block; \n            background-color: #4299e1; \n            color: white; \n            padding: 12px 24px; \n            text-decoration: none; \n            border-radius: 6px;\n            font-weight: bold;\">\n    📁 View {{ $('Find Year Folder').first().json.year }} Renewal Documents\n  </a>\n</div>\n\n<hr style=\"border: 1px solid #e2e8f0; margin: 30px 0;\">\n\n<p style=\"color: #718096; font-size: 12px;\">\n  <em>Automated notification from Eagle Worldwide Credentialing System</em>\n</p>\n\n</body>\n</html>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        880,
        -32
      ],
      "id": "fc375419-3924-46b1-be9a-102fd4f6d186",
      "name": "Send Email to Admins",
      "webhookId": "87325f49-5588-44b8-8158-4f6551a266ea",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "PyUiSAwxntgVqKlJ",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Renewal Filename from subject\nconst item = $input.first();\nconst subject = $('Microsoft Outlook Trigger').first().json.subject;\n\nlet name = 'unknown';\nlet monthYear = 'unknown-date';\n\ntry {\n  const parts = subject.split('_');\n  \n  if (parts.length >= 2) {\n    const nameAndDate = parts[1];\n    const lastHyphenIndex = nameAndDate.lastIndexOf('-');\n    \n    if (lastHyphenIndex > 0) {\n      name = nameAndDate.substring(0, lastHyphenIndex).trim();\n      const datePart = nameAndDate.substring(lastHyphenIndex + 1).trim();\n      const dateMatch = datePart.match(/^(\\w+)\\s+\\d+,\\s+(\\d{4})/);\n      if (dateMatch) {\n        const month = dateMatch[1];\n        const year = dateMatch[2];\n        monthYear = `${month.toLowerCase()}-${year}`;\n      }\n    }\n  }\n} catch (e) {\n  console.log('Error parsing subject:', e);\n}\n\nconst formattedName = name.toLowerCase().replace(/\\s+/g, '-');\nconst filename = `${formattedName}-${monthYear}-renewal-form.html`;\n\n// Update the binary filename\nconst updatedBinary = { ...item.binary };\nif (updatedBinary.data) {\n  updatedBinary.data = {\n    ...updatedBinary.data,\n    fileName: filename\n  };\n}\n\nreturn [{\n  json: {\n    ...item.json,\n    formatted_filename: filename\n  },\n  binary: updatedBinary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        96
      ],
      "id": "a02082c5-7af8-4780-b9b5-ed90e10ca29d",
      "name": "Format Filename"
    },
    {
      "parameters": {
        "fileName": "=={{ $json.formatted_filename }}",
        "parentId": "={{ $json.yearFolderId }}",
        "binaryData": true
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        496,
        96
      ],
      "id": "35ec24d1-5491-466f-b1f8-d0e996a81e1a",
      "name": "Upload Renewal HTML",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "A4Jrv6VA0R61EDNs",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "725ae13b-2212-4ac5-9bc9-cf4139c6d3a9",
              "leftValue": "={{ $('Microsoft Outlook Trigger').item.json.subject }}",
              "rightValue": "Renewal Form_",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1056,
        -16
      ],
      "id": "b8a60db5-c604-41e6-938c-b717dc5f4fb0",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.original_subject }}",
              "operation": "contains",
              "value2": "Application"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "709223b6-e55f-4b85-bafc-0f93d57d0a9e",
      "name": "Is Application Form?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        -32
      ]
    }
  ],
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Data": {
      "main": [
        [
          {
            "node": "Get Year Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Year Folders": {
      "main": [
        [
          {
            "node": "Find Year Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Year Folder": {
      "main": [
        [
          {
            "node": "Is Application Form?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields (Application)": {
      "main": [
        [
          {
            "node": "Save Photos to OneDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Photos to OneDrive": {
      "main": [
        [
          {
            "node": "Convert Application to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Renewal to HTML": {
      "main": [
        [
          {
            "node": "Format Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Application to HTML": {
      "main": [
        [
          {
            "node": "Upload Application HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Application HTML": {
      "main": [
        [
          {
            "node": "Send Email to Admins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Filename": {
      "main": [
        [
          {
            "node": "Upload Renewal HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Renewal HTML": {
      "main": [
        [
          {
            "node": "Send Email to Admins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Parse Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Application Form?": {
      "main": [
        [
          {
            "node": "Edit Fields (Application)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert Renewal to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "205fd73d-c15b-49af-baad-603c2a4f8011",
  "activeVersionId": "205fd73d-c15b-49af-baad-603c2a4f8011",
  "versionCounter": 21,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-30T12:18:54.241Z",
      "createdAt": "2026-01-30T12:18:54.241Z",
      "role": "workflow:owner",
      "workflowId": "YJGlLvQwsSq47kmHQpbCY",
      "projectId": "HZqYjnNmPLW2kkrP",
      "project": {
        "updatedAt": "2025-12-12T12:37:29.393Z",
        "createdAt": "2025-12-12T12:34:20.173Z",
        "id": "HZqYjnNmPLW2kkrP",
        "name": "Miguel Simon <miguel.simon@digitalpneuma.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
        "projectRelations": [
          {
            "updatedAt": "2025-12-12T12:34:20.173Z",
            "createdAt": "2025-12-12T12:34:20.173Z",
            "userId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
            "projectId": "HZqYjnNmPLW2kkrP",
            "user": {
              "updatedAt": "2026-01-31T12:34:46.000Z",
              "createdAt": "2025-12-12T12:34:19.617Z",
              "id": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
              "email": "miguel.simon@digitalpneuma.com",
              "firstName": "Miguel",
              "lastName": "Simon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-12T12:39:28.094Z",
                "personalization_survey_n8n_version": "1.123.5",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "automationGoalDevopsOther": "Build workflows to automate manual processes",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "GjxXDVv1iBEVBdE4",
                "userActivatedAt": 1765753766341,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767113477505
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-30T13:22:29.000Z",
    "createdAt": "2026-01-30T13:15:32.898Z",
    "versionId": "205fd73d-c15b-49af-baad-603c2a4f8011",
    "workflowId": "YJGlLvQwsSq47kmHQpbCY",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {
            "custom": ""
          },
          "options": {
            "downloadAttachments": true
          }
        },
        "type": "n8n-nodes-base.microsoftOutlookTrigger",
        "typeVersion": 1,
        "position": [
          -1264,
          -16
        ],
        "id": "9275b265-d593-478e-a9d3-4bdc77245337",
        "name": "Microsoft Outlook Trigger",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "PyUiSAwxntgVqKlJ",
            "name": "Microsoft Outlook account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse Renewal Email Data - Extract year from date\nconst emailBody = $input.first().json.bodyPreview || $input.first().json.body;\n\nconsole.log('Original email body:', emailBody);\n\n// Clean up the text\nconst cleanText = emailBody\n  .replace(/\\\\n/g, '\\n')\n  .replace(/<br\\s*\\/?>/gi, '\\n')\n  .replace(/<[^>]+>/g, '')\n  .trim();\n\nconsole.log('Clean text:', cleanText);\n\nconst lines = cleanText.split('\\n').map(line => line.trim()).filter(line => line.length > 0);\n\nconsole.log('Lines:', lines);\n\nconst extracted = {};\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i];\n  \n  if (line.match(/^\\d+\\.\\s*Full Name/i)) {\n    if (i + 1 < lines.length) {\n      extracted.full_name = lines[i + 1];\n    }\n  } else if (line.match(/^\\d+\\.\\s*Date/i)) {\n    if (i + 1 < lines.length) {\n      extracted.date = lines[i + 1];\n      // Extract year from date\n      try {\n        const dateMatch = lines[i + 1].match(/(\\d{4})/);\n        if (dateMatch) {\n          extracted.year = dateMatch[1];\n        } else {\n          extracted.year = new Date().getFullYear().toString();\n        }\n      } catch (e) {\n        extracted.year = new Date().getFullYear().toString();\n      }\n    }\n  } else if (line.match(/^\\d+\\.\\s*Email/i)) {\n    if (i + 1 < lines.length) {\n      extracted.email_address = lines[i + 1];\n    }\n  } else if (line.match(/^\\d+\\.\\s*Phone/i)) {\n    if (i + 1 < lines.length) {\n      extracted.phone_number = lines[i + 1];\n    }\n  } else if (line.match(/^\\d+\\.\\s*Changes/i)) {\n    const remainingLines = [];\n    for (let j = i + 1; j < lines.length; j++) {\n      remainingLines.push(lines[j]);\n    }\n    extracted.changes = remainingLines.join(' ');\n    break;\n  }\n}\n\nconsole.log('Extracted fields:', extracted);\n\nreturn [{ json: extracted }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -832,
          -32
        ],
        "id": "d044d314-bbf2-478c-bf22-43dbe1d404a4",
        "name": "Parse Email Data"
      },
      {
        "parameters": {
          "resource": "folder",
          "folderId": "01WYROSL5NHUO4T4ZQDFDJFOBEWWW7JUJE"
        },
        "type": "n8n-nodes-base.microsoftOneDrive",
        "typeVersion": 1,
        "position": [
          -608,
          -32
        ],
        "id": "70d555a0-2ee6-42ae-b53f-cfed706ee783",
        "name": "Get Year Folders",
        "credentials": {
          "microsoftOneDriveOAuth2Api": {
            "id": "A4Jrv6VA0R61EDNs",
            "name": "Microsoft Drive account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Find the matching year folder AND pass through the subject\nconst year = $('Parse Email Data').first().json.year;\nconst allFolders = $input.all();\n\n// Get the original subject from the trigger\nconst originalSubject = $('Microsoft Outlook Trigger').first().json.subject;\n\nconsole.log('Looking for year folder:', year);\nconsole.log('Available folders:', allFolders.map(f => f.json.name));\nconsole.log('Original subject:', originalSubject);\n\n// Find exact match for the year\nconst yearFolder = allFolders.find(folder => \n  folder.json.name === year && folder.json.folder !== undefined\n);\n\nif (!yearFolder) {\n  throw new Error(`Year folder \"${year}\" not found. Please create it in OneDrive first.`);\n}\n\nconsole.log('Found year folder:', yearFolder.json.name, 'ID:', yearFolder.json.id);\n\nreturn [{\n  json: {\n    yearFolderId: yearFolder.json.id,\n    yearFolderName: yearFolder.json.name,\n    year: year,\n    webUrl: yearFolder.json.webUrl,\n    // Pass through the parsed email data\n    full_name: $('Parse Email Data').first().json.full_name,\n    email_address: $('Parse Email Data').first().json.email_address,\n    date: $('Parse Email Data').first().json.date,\n    phone_number: $('Parse Email Data').first().json.phone_number,\n    changes: $('Parse Email Data').first().json.changes,\n    // IMPORTANT: Pass through the original subject so the next IF node can check it\n    original_subject: originalSubject\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -384,
          -32
        ],
        "id": "9315f931-2e26-4723-b018-9f3b7f29ec45",
        "name": "Find Year Folder"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "eb75bffe-d1d0-45b4-8cf5-6002486a7f96",
                "name": "attachment",
                "value": "={{ $('Microsoft Outlook Trigger').item.binary.attachment_0 }}",
                "type": "binary"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          48,
          -144
        ],
        "id": "0b3a5cdb-4119-4004-944b-c77157bae1bc",
        "name": "Edit Fields (Application)"
      },
      {
        "parameters": {
          "fileName": "={{ $binary.attachment.fileName }}",
          "parentId": "={{ $('Find Year Folder').item.json.yearFolderId }}",
          "binaryData": true,
          "binaryPropertyName": "attachment"
        },
        "type": "n8n-nodes-base.microsoftOneDrive",
        "typeVersion": 1,
        "position": [
          256,
          -144
        ],
        "id": "21fb51ff-4fe3-425e-8889-e9f83a014a67",
        "name": "Save Photos to OneDrive",
        "credentials": {
          "microsoftOneDriveOAuth2Api": {
            "id": "A4Jrv6VA0R61EDNs",
            "name": "Microsoft Drive account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Get the parsed form data for RENEWAL forms\nconst formData = $('Find Year Folder').first().json;\n\n// Build simple, clean HTML for renewal forms\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { \n      font-family: Arial, sans-serif; \n      max-width: 800px; \n      margin: 20px auto;\n      padding: 20px;\n      background-color: #f9fafb;\n    }\n    .container {\n      background-color: white;\n      padding: 30px;\n      border-radius: 8px;\n      box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n    }\n    h1 { \n      color: #2c5282; \n      border-bottom: 3px solid #4299e1;\n      padding-bottom: 10px;\n    }\n    .field { \n      margin: 20px 0; \n      padding: 10px;\n      background-color: #f7fafc;\n      border-left: 4px solid #4299e1;\n    }\n    .label { \n      font-weight: bold; \n      color: #2d3748;\n      display: block;\n      margin-bottom: 5px;\n      text-transform: capitalize;\n    }\n    .value { \n      color: #4a5568;\n      font-size: 16px;\n    }\n    .footer {\n      margin-top: 30px;\n      padding-top: 20px;\n      border-top: 1px solid #e2e8f0;\n      color: #718096;\n      font-size: 14px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Minister Credential Renewal - ${formData.year}</h1>\n    \n    <div class=\"field\">\n      <span class=\"label\">Full Name</span>\n      <span class=\"value\">${formData.full_name || 'N/A'}</span>\n    </div>\n    \n    <div class=\"field\">\n      <span class=\"label\">Email Address</span>\n      <span class=\"value\">${formData.email_address || 'N/A'}</span>\n    </div>\n    \n    <div class=\"field\">\n      <span class=\"label\">Phone Number</span>\n      <span class=\"value\">${formData.phone_number || 'N/A'}</span>\n    </div>\n    \n    <div class=\"field\">\n      <span class=\"label\">Date</span>\n      <span class=\"value\">${formData.date || 'N/A'}</span>\n    </div>\n    \n    <div class=\"field\">\n      <span class=\"label\">Changes</span>\n      <span class=\"value\">${formData.changes || 'No changes reported'}</span>\n    </div>\n    \n    <div class=\"footer\">\n      <em>Submitted: ${new Date().toLocaleString()}</em>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: formData,\n  binary: {\n    data: {\n      data: Buffer.from(html).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'renewal-form.html'\n    }\n  }\n}];"
        },
        "id": "42e8cea1-37c7-418c-b2b5-f3b10957fcfd",
        "name": "Convert Renewal to HTML",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          48,
          96
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get the parsed form data for APPLICATION forms\nconst formData = $('Find Year Folder').item.json;\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { \n      font-family: Arial, sans-serif; \n      max-width: 900px; \n      margin: 20px auto;\n      padding: 20px;\n      background-color: #f9fafb;\n    }\n    .container {\n      background-color: white;\n      padding: 30px;\n      border-radius: 8px;\n      box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n    }\n    h1 { \n      color: #2c5282; \n      border-bottom: 3px solid #4299e1;\n      padding-bottom: 10px;\n    }\n    .placeholder {\n      background-color: #fef3c7;\n      border: 2px dashed #f59e0b;\n      padding: 20px;\n      margin: 20px 0;\n      border-radius: 4px;\n    }\n    .field { \n      margin: 20px 0; \n      padding: 10px;\n      background-color: #f7fafc;\n      border-left: 4px solid #4299e1;\n    }\n    .label { \n      font-weight: bold; \n      color: #2d3748;\n      display: block;\n      margin-bottom: 5px;\n      text-transform: capitalize;\n    }\n    .value { \n      color: #4a5568;\n      font-size: 16px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Minister Application Form - ${formData.year}</h1>\n    \n    <div class=\"placeholder\">\n      <strong>⚠️ Complex Application Parser - Under Development</strong>\n      <p>This section will be enhanced to handle 40+ fields with proper formatting.</p>\n    </div>\n    \n    ${Object.entries(formData)\n      .filter(([key]) => !['yearFolderId', 'yearFolderName', 'webUrl'].includes(key))\n      .map(([key, value]) => `\n      <div class=\"field\">\n        <span class=\"label\">${key.replace(/_/g, ' ')}</span>\n        <span class=\"value\">${value || 'N/A'}</span>\n      </div>\n    `).join('')}\n    \n    <p><em>Submitted: ${new Date().toLocaleString()}</em></p>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: formData,\n  binary: {\n    data: {\n      data: Buffer.from(html).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'application-form.html'\n    }\n  }\n}];"
        },
        "id": "0e27b2ee-e688-4f01-9e5f-7106108e381d",
        "name": "Convert Application to HTML",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          -144
        ]
      },
      {
        "parameters": {
          "fileName": "={{ $json.full_name.toLowerCase().replace(/\\s+/g, '-') }}-{{ $now.format('MMMM-yyyy').toLowerCase() }}-application-form.html",
          "parentId": "={{ $json.yearFolderId }}",
          "binaryData": true
        },
        "type": "n8n-nodes-base.microsoftOneDrive",
        "typeVersion": 1,
        "position": [
          672,
          -144
        ],
        "id": "d339f844-6339-4509-a0ac-9cbd8ae53bde",
        "name": "Upload Application HTML",
        "credentials": {
          "microsoftOneDriveOAuth2Api": {
            "id": "A4Jrv6VA0R61EDNs",
            "name": "Microsoft Drive account"
          }
        }
      },
      {
        "parameters": {
          "toRecipients": "ashley@eagleworldwide.com, joanna@eagleworldwide.com",
          "subject": "=New Minister Renewal: {{ $('Find Year Folder').first().json.full_name }}",
          "bodyContent": "=<html>\n<body style=\"font-family: Arial, sans-serif; color: #333; max-width: 600px;\">\n  \n<h2 style=\"color: #2c5282;\">✅ New Minister Renewal Submitted</h2>\n\n<div style=\"background-color: #f7fafc; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n  <p style=\"margin: 10px 0;\"><strong>Minister:</strong> {{ $('Find Year Folder').first().json.full_name || 'N/A' }}</p>\n  <p style=\"margin: 10px 0;\"><strong>Email:</strong> {{ $('Find Year Folder').first().json.email_address || 'N/A' }}</p>\n  <p style=\"margin: 10px 0;\"><strong>Date:</strong> {{ $('Find Year Folder').first().json.date || 'N/A' }}</p>\n  <p style=\"margin: 10px 0;\"><strong>Phone:</strong> {{ $('Find Year Folder').first().json.phone_number || 'N/A' }}</p>\n  <p style=\"margin: 10px 0;\"><strong>Year:</strong> {{ $('Find Year Folder').first().json.year || 'N/A' }}</p>\n</div>\n\n<div style=\"background-color: #e6f7ff; padding: 15px; border-left: 4px solid #2c5282; margin: 20px 0;\">\n  <p style=\"margin: 5px 0;\"><strong>Changes Reported:</strong></p>\n  <p style=\"margin: 5px 0;\">{{ $('Find Year Folder').first().json.changes || 'No changes reported' }}</p>\n</div>\n\n<div style=\"margin: 30px 0;\">\n  <a href=\"{{ $('Find Year Folder').first().json.webUrl }}\" \n     style=\"display: inline-block; \n            background-color: #4299e1; \n            color: white; \n            padding: 12px 24px; \n            text-decoration: none; \n            border-radius: 6px;\n            font-weight: bold;\">\n    📁 View {{ $('Find Year Folder').first().json.year }} Renewal Documents\n  </a>\n</div>\n\n<hr style=\"border: 1px solid #e2e8f0; margin: 30px 0;\">\n\n<p style=\"color: #718096; font-size: 12px;\">\n  <em>Automated notification from Eagle Worldwide Credentialing System</em>\n</p>\n\n</body>\n</html>",
          "additionalFields": {
            "bodyContentType": "html"
          }
        },
        "type": "n8n-nodes-base.microsoftOutlook",
        "typeVersion": 2,
        "position": [
          880,
          -32
        ],
        "id": "fc375419-3924-46b1-be9a-102fd4f6d186",
        "name": "Send Email to Admins",
        "webhookId": "87325f49-5588-44b8-8158-4f6551a266ea",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "PyUiSAwxntgVqKlJ",
            "name": "Microsoft Outlook account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Format Renewal Filename from subject\nconst item = $input.first();\nconst subject = $('Microsoft Outlook Trigger').first().json.subject;\n\nlet name = 'unknown';\nlet monthYear = 'unknown-date';\n\ntry {\n  const parts = subject.split('_');\n  \n  if (parts.length >= 2) {\n    const nameAndDate = parts[1];\n    const lastHyphenIndex = nameAndDate.lastIndexOf('-');\n    \n    if (lastHyphenIndex > 0) {\n      name = nameAndDate.substring(0, lastHyphenIndex).trim();\n      const datePart = nameAndDate.substring(lastHyphenIndex + 1).trim();\n      const dateMatch = datePart.match(/^(\\w+)\\s+\\d+,\\s+(\\d{4})/);\n      if (dateMatch) {\n        const month = dateMatch[1];\n        const year = dateMatch[2];\n        monthYear = `${month.toLowerCase()}-${year}`;\n      }\n    }\n  }\n} catch (e) {\n  console.log('Error parsing subject:', e);\n}\n\nconst formattedName = name.toLowerCase().replace(/\\s+/g, '-');\nconst filename = `${formattedName}-${monthYear}-renewal-form.html`;\n\n// Update the binary filename\nconst updatedBinary = { ...item.binary };\nif (updatedBinary.data) {\n  updatedBinary.data = {\n    ...updatedBinary.data,\n    fileName: filename\n  };\n}\n\nreturn [{\n  json: {\n    ...item.json,\n    formatted_filename: filename\n  },\n  binary: updatedBinary\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          96
        ],
        "id": "a02082c5-7af8-4780-b9b5-ed90e10ca29d",
        "name": "Format Filename"
      },
      {
        "parameters": {
          "fileName": "=={{ $json.formatted_filename }}",
          "parentId": "={{ $json.yearFolderId }}",
          "binaryData": true
        },
        "type": "n8n-nodes-base.microsoftOneDrive",
        "typeVersion": 1,
        "position": [
          496,
          96
        ],
        "id": "35ec24d1-5491-466f-b1f8-d0e996a81e1a",
        "name": "Upload Renewal HTML",
        "credentials": {
          "microsoftOneDriveOAuth2Api": {
            "id": "A4Jrv6VA0R61EDNs",
            "name": "Microsoft Drive account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "725ae13b-2212-4ac5-9bc9-cf4139c6d3a9",
                "leftValue": "={{ $('Microsoft Outlook Trigger').item.json.subject }}",
                "rightValue": "Renewal Form_",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1056,
          -16
        ],
        "id": "b8a60db5-c604-41e6-938c-b717dc5f4fb0",
        "name": "If"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.original_subject }}",
                "operation": "contains",
                "value2": "Application"
              }
            ]
          },
          "combineOperation": "any"
        },
        "id": "709223b6-e55f-4b85-bafc-0f93d57d0a9e",
        "name": "Is Application Form?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -160,
          -32
        ]
      }
    ],
    "connections": {
      "Microsoft Outlook Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Email Data": {
        "main": [
          [
            {
              "node": "Get Year Folders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Year Folders": {
        "main": [
          [
            {
              "node": "Find Year Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Year Folder": {
        "main": [
          [
            {
              "node": "Is Application Form?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields (Application)": {
        "main": [
          [
            {
              "node": "Save Photos to OneDrive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Photos to OneDrive": {
        "main": [
          [
            {
              "node": "Convert Application to HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert Renewal to HTML": {
        "main": [
          [
            {
              "node": "Format Filename",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert Application to HTML": {
        "main": [
          [
            {
              "node": "Upload Application HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Application HTML": {
        "main": [
          [
            {
              "node": "Send Email to Admins",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Filename": {
        "main": [
          [
            {
              "node": "Upload Renewal HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Renewal HTML": {
        "main": [
          [
            {
              "node": "Send Email to Admins",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Parse Email Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Application Form?": {
        "main": [
          [
            {
              "node": "Edit Fields (Application)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Convert Renewal to HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Miguel Simon",
    "name": "latest version January 30, 2026",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-30T13:22:29.113Z",
        "id": 136,
        "workflowId": "YJGlLvQwsSq47kmHQpbCY",
        "versionId": "205fd73d-c15b-49af-baad-603c2a4f8011",
        "event": "activated",
        "userId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586"
      },
      {
        "createdAt": "2026-01-30T13:22:39.273Z",
        "id": 137,
        "workflowId": "YJGlLvQwsSq47kmHQpbCY",
        "versionId": "205fd73d-c15b-49af-baad-603c2a4f8011",
        "event": "activated",
        "userId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586"
      }
    ]
  }
}