workflows/New_OpenAI_Functions_PTt21U8HTXWTzcMc.json
{
  "updatedAt": "2025-11-07T12:48:41.000Z",
  "createdAt": "2025-11-07T12:48:31.736Z",
  "id": "PTt21U8HTXWTzcMc",
  "name": "New OpenAI Functions",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        592,
        -112
      ],
      "id": "c7587395-f99c-46be-96cd-6aac81dafbd8",
      "name": "When chat message received",
      "webhookId": "e40ef587-1292-4404-8e37-58d788ff46dd"
    },
    {
      "parameters": {
        "jsCode": "// For n8n \"Run Once for All Items\" mode\nconst items = $input.all();\n\n// Process the first item's JSON data\nconst data = items[0].json;\n\n// Extract the text\nconst text = data.output[0]?.content[0]?.text || '';\n\n// Remove all line breaks\nconst cleanText = text.replace(/\\\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n\n// Return in n8n format - array of objects with 'json' property\nreturn [\n  {\n    json: {\n      extractedText: cleanText\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -112
      ],
      "id": "2cf9c97c-c9c9-4a12-8abb-b2ff9c527057",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Clean up this text and well format it:\n\n {{ $json.extractedText }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1248,
        -112
      ],
      "id": "5e84f433-bfe6-4fa0-a3d7-ae0389cbb9fd",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1120,
        96
      ],
      "id": "25c4e1b5-79ec-4f4f-ae4b-f67472ced238",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1264,
        96
      ],
      "id": "872bb465-edea-4a60-b7a7-1c138f8a5ed3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "what is the latest and greatest tool that Anthropic has released related to Claude code?"
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1248,
        272
      ],
      "id": "21505110-fbc9-4499-8fe7-9bb56afd234f",
      "name": "Web Search"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.chatInput }}\n\nReturn the response in well formatted plaintext."
            }
          ]
        },
        "builtInTools": {
          "fileSearch": {
            "vectorStoreIds": "[\"vs_LG80l8jhrIh3TYiPOl8sDIyg\"]"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        752,
        -112
      ],
      "id": "9341f630-99ff-409c-bff7-fb6bbdec50b4",
      "name": "Check RAG"
    }
  ],
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Check RAG": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "072b6252-1047-4293-9530-c6a490ba43e5",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-13T17:41:57.437Z",
      "createdAt": "2025-12-13T17:41:57.437Z",
      "role": "workflow:owner",
      "workflowId": "PTt21U8HTXWTzcMc",
      "projectId": "HZqYjnNmPLW2kkrP",
      "project": {
        "updatedAt": "2025-12-12T12:37:29.393Z",
        "createdAt": "2025-12-12T12:34:20.173Z",
        "id": "HZqYjnNmPLW2kkrP",
        "name": "Miguel Simon <miguel.simon@digitalpneuma.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
        "projectRelations": [
          {
            "updatedAt": "2025-12-12T12:34:20.173Z",
            "createdAt": "2025-12-12T12:34:20.173Z",
            "userId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
            "projectId": "HZqYjnNmPLW2kkrP",
            "user": {
              "updatedAt": "2026-01-31T12:34:46.000Z",
              "createdAt": "2025-12-12T12:34:19.617Z",
              "id": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
              "email": "miguel.simon@digitalpneuma.com",
              "firstName": "Miguel",
              "lastName": "Simon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-12T12:39:28.094Z",
                "personalization_survey_n8n_version": "1.123.5",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "automationGoalDevopsOther": "Build workflows to automate manual processes",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "GjxXDVv1iBEVBdE4",
                "userActivatedAt": 1765753766341,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767113477505
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}