workflows/News_Aggregator_X_summarizer_8UO0aB34bOGM4dDP.json
{
  "updatedAt": "2025-11-11T15:47:25.000Z",
  "createdAt": "2025-10-08T11:21:40.083Z",
  "id": "8UO0aB34bOGM4dDP",
  "name": "News Aggregator X summarizer",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1648,
        240
      ],
      "id": "1adf3585-297f-4517-a69b-47a28dfc772c",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -1056,
        240
      ],
      "id": "2b763ec3-f119-4abb-886c-448e13f88d6d",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "jsCode": "// Input: HTML string\nconst html = $input.item.json.data; // Assuming the HTML is passed in the \"data\" field of the JSON input\n\n// Extract the articleTitle using regex or string search\nlet articleTitle = null;\nconst titleMatch = html.match(/<meta property=\"og:title\" content=\"([^\"]+)\"\\/>/);\nif (titleMatch) {\n    articleTitle = titleMatch[1];\n} else {\n    const titleTagMatch = html.match(/<title>([^<]+)<\\/title>/);\n    if (titleTagMatch) {\n        articleTitle = titleTagMatch[1];\n    }\n}\n\n// Extract the articleDate from JSON-LD script\nlet articleDate = null;\nconst jsonLdMatch = html.match(/<script type=\"application\\/ld\\+json\">([\\s\\S]*?)<\\/script>/);\nif (jsonLdMatch) {\n    try {\n        const jsonLdData = JSON.parse(jsonLdMatch[1]);\n        if (jsonLdData['@graph'] && jsonLdData['@graph'][0]) {\n            articleDate = jsonLdData['@graph'][0].datePublished || null;\n        }\n    } catch (error) {\n        console.error('Error parsing JSON-LD:', error);\n    }\n}\n\n// Extract the articleBody from JSON-LD script\nlet articleBody = null;\nif (jsonLdMatch) {\n    try {\n        const jsonLdData = JSON.parse(jsonLdMatch[1]);\n        if (jsonLdData['@graph'] && jsonLdData['@graph'][0]) {\n            articleBody = jsonLdData['@graph'][0].articleBody || null;\n        }\n    } catch (error) {\n        console.error('Error parsing JSON-LD:', error);\n    }\n}\n\n// Return the extracted data\nreturn {\n    json: {\n        articleTitle,\n        articleDate,\n        articleBody\n    }\n};\n"
      },
      "id": "2271278a-30dc-4db3-87bc-6ab1e5cdb2c5",
      "name": "Parse Article Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2c5658f0-e62d-4ff3-9835-3f1a747bdc45",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -688,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://lawandcrime.com/",
        "options": {}
      },
      "id": "1e23e6dc-5332-4184-84ab-75dc231eb23f",
      "name": "Parse HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Input raw HTML\nconst htmlContent = $input.first().json.data; // Adjust this if your HTML is stored in another field\n\n// Updated regex to match URLs like \"/en/news/story/anything/anything\"\n// and stop at the end of the URL before any additional attributes or tags\nconst regex = /\\/high-profile\\/[^/]+/g; // Updated to exclude \" or < to prevent extra content\nconst matches = htmlContent.match(regex) || []; // Extract all matches\n\n// Prepend 'https://vertikal.net/' to each URL and return the results\nreturn matches.map(url => ({ json: { url: `https://lawandcrime.com/${url}` } }));\n"
      },
      "id": "3dd9460c-0362-4b23-9fe8-1d7a5e194401",
      "name": "Get Articles URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        240
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "6c5c7f4f-ff4a-4b9f-9ccd-ba51fb9fd56f",
      "name": "Get Article's Headline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5279644e-c575-4fc7-b129-89c1c83f816b",
              "name": "Headline",
              "value": "={{ $json.articleTitle }}\n\n\n\n\n\n\n",
              "type": "string"
            },
            {
              "id": "06814dc9-a76a-45b3-88a3-4cb848d3c492",
              "name": "url",
              "value": "={{ $('Get Articles URL').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "307dc53c-83a9-4292-a247-0b73ef7c1ac4",
      "name": "Set Headline and URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR API KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"formats\": [\n    \"json\"\n  ],\n  \"jsonOptions\": {\n    \"prompt\": \"Extract the news content/body of the links provided to you. Make sure its only the content and the date of the news that you return, nothing else\"\n  }\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        192
      ],
      "id": "f08ee60c-f355-40a1-a48b-ff55c50949a4",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -256,
        160
      ],
      "id": "d278be5f-98c9-4bf8-aeda-6934bc311e30",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4cffd110-77b2-4358-8cfa-18763ab19672",
              "name": "data.json.news.content",
              "value": "={{ $json.data.json.news.content }}",
              "type": "string"
            },
            {
              "id": "76e7d1d3-20d5-4c6b-adfe-365e223865e5",
              "name": "data.json.news.date",
              "value": "={{ $json.data.json.news.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "c5f52e4d-6f94-48cb-a2c5-2c0860ee8b55",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an intelligent helpful assistant. Your role is to summarize the text provided to you in less than 200 words. output it in json format\n\nAlways return the headline, article url, date, content and summary in this format:\n\n{\n\n\"headline\": \"\",\n\"articleUrl\":\"\";\n\"date\":\"\",\n\"content':\"\",\n\"summary\":\"Your summary output\"\n}",
              "role": "system"
            },
            {
              "content": "=This is the content you should summarize: {{ $json.data.json.news.content }}"
            },
            {
              "content": "=headline: {{ $('Loop Over Items').item.json.Headline }}\nurl:{{ $('Loop Over Items').item.json.url }}\ndate:{{ $json.data.json.news.date }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        224,
        0
      ],
      "id": "b9352656-5516-4e93-9310-99961cfc27ca",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "IfZ7w9jey4t4KuBS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WIULBIo43o6qJoloNv9QuH_sLA44gpubYwmS34m1GxA",
          "mode": "list",
          "cachedResultName": "News Aggregator x Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WIULBIo43o6qJoloNv9QuH_sLA44gpubYwmS34m1GxA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WIULBIo43o6qJoloNv9QuH_sLA44gpubYwmS34m1GxA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Edit Fields').item.json.data.json.news.date }}",
            "Link": "=",
            "Summary": "={{ $json.message.content.summary }}",
            "articleContent": "={{ $('Edit Fields').item.json.data.json.news.content }}",
            "Headline": "={{ $json.message.content.headline }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "articleContent",
              "displayName": "articleContent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        624,
        0
      ],
      "id": "474aba28-ae90-42d6-bc59-8bf700540faa",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lFRYvTqJFto1ZDyU",
          "name": "Google Sheets Account NEW"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Parse HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Get Article's Headline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Article Content": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Set Headline and URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Article Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse HTML": {
      "main": [
        [
          {
            "node": "Get Articles URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Articles URL": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Article's Headline": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Headline and URL": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1dd570f6-ecdf-4f2b-891b-ffe0b921427f",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-13T17:42:02.039Z",
      "createdAt": "2025-12-13T17:42:02.039Z",
      "role": "workflow:owner",
      "workflowId": "8UO0aB34bOGM4dDP",
      "projectId": "HZqYjnNmPLW2kkrP",
      "project": {
        "updatedAt": "2025-12-12T12:37:29.393Z",
        "createdAt": "2025-12-12T12:34:20.173Z",
        "id": "HZqYjnNmPLW2kkrP",
        "name": "Miguel Simon <miguel.simon@digitalpneuma.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
        "projectRelations": [
          {
            "updatedAt": "2025-12-12T12:34:20.173Z",
            "createdAt": "2025-12-12T12:34:20.173Z",
            "userId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
            "projectId": "HZqYjnNmPLW2kkrP",
            "user": {
              "updatedAt": "2026-01-31T12:34:46.000Z",
              "createdAt": "2025-12-12T12:34:19.617Z",
              "id": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
              "email": "miguel.simon@digitalpneuma.com",
              "firstName": "Miguel",
              "lastName": "Simon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-12T12:39:28.094Z",
                "personalization_survey_n8n_version": "1.123.5",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "automationGoalDevopsOther": "Build workflows to automate manual processes",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "GjxXDVv1iBEVBdE4",
                "userActivatedAt": 1765753766341,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767113477505
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}