workflows/OCR_Mistral_Test_GZQSgEc1fjerlQbW.json
{
  "updatedAt": "2025-10-08T11:51:41.000Z",
  "createdAt": "2025-09-09T11:32:24.362Z",
  "id": "GZQSgEc1fjerlQbW",
  "name": "OCR Mistral Test",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Invoice Processing",
        "formDescription": "Please provide an invoice for automatic processing.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Invoice",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "70d81ea8-4729-47a9-bdfa-76942de5aed7",
      "name": "On form submission",
      "webhookId": "3b16864c-43a7-475f-a529-8978ee97be30"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Invoice",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        352,
        -240
      ],
      "id": "0a4b0bdc-b8bc-451e-bc68-bcf8a734b113",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "Invoice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "0fd7d785-ef3a-4be2-9bd1-dc6a6c1fe0c9",
      "name": "Upload File to Mistral",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vFlawxkpPEPoVxzv",
          "name": "Mistral OCR"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "d434300c-b06e-4e71-ad7c-d882a128193a",
      "name": "Get Signed URL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vFlawxkpPEPoVxzv",
          "name": "Mistral OCR"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ${MISTRAL_API_KEY}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n} ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "ocr_output.json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        0
      ],
      "id": "ecfadd73-964a-49e9-bb23-29263b36507d",
      "name": "Get OCR Results",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vFlawxkpPEPoVxzv",
          "name": "Mistral OCR"
        }
      }
    },
    {
      "parameters": {
        "attributes": {
          "attributes": [
            {
              "name": "Forwarding Agent",
              "description": "forwarding agent",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "d4762eea-07be-478b-9df0-9c6d4f98bd34",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        208
      ],
      "id": "4ddd4c55-5e46-4634-bd70-84d55e9dc8d8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IfZ7w9jey4t4KuBS",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload File to Mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File to Mistral": {
      "main": [
        [
          {
            "node": "Get Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed URL": {
      "main": [
        [
          {
            "node": "Get OCR Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OCR Results": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Upload File to Mistral": [
      {
        "json": {
          "id": "69d16036-53c4-4217-a6b5-78b6f64a9ed7",
          "object": "file",
          "bytes": 159869,
          "created_at": 1757418794,
          "filename": "Commercial-Invoice-Template-TemplateLab.com_.pdf",
          "purpose": "ocr",
          "sample_type": "ocr_input",
          "num_lines": 0,
          "mimetype": "application/pdf",
          "source": "upload",
          "signature": "5984882fe79438d8eedfe828b4d42945"
        }
      }
    ],
    "Get Signed URL": [
      {
        "json": {
          "url": "https://mistralaifilesapiprodswe.blob.core.windows.net/fine-tune/a142b8be-3daf-469b-b74b-6d4144bbeb1f/715b3dc9-e1da-4eab-bb3a-adf8f340241d/69d1603653c44217a6b578b6f64a9ed7.pdf?se=2025-09-10T12%3A03%3A26Z&sp=r&sv=2025-01-05&sr=b&sig=DgkhMj1iKcQSpKCCCaNnRG45J%2BIURwksNyZq7gKiukE%3D"
        }
      }
    ]
  },
  "versionId": "cb0b8949-e0f3-42e5-8bd0-bff08e840802",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-13T17:42:06.761Z",
      "createdAt": "2025-12-13T17:42:06.761Z",
      "role": "workflow:owner",
      "workflowId": "GZQSgEc1fjerlQbW",
      "projectId": "HZqYjnNmPLW2kkrP",
      "project": {
        "updatedAt": "2025-12-12T12:37:29.393Z",
        "createdAt": "2025-12-12T12:34:20.173Z",
        "id": "HZqYjnNmPLW2kkrP",
        "name": "Miguel Simon <miguel.simon@digitalpneuma.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
        "projectRelations": [
          {
            "updatedAt": "2025-12-12T12:34:20.173Z",
            "createdAt": "2025-12-12T12:34:20.173Z",
            "userId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
            "projectId": "HZqYjnNmPLW2kkrP",
            "user": {
              "updatedAt": "2026-01-31T12:34:46.000Z",
              "createdAt": "2025-12-12T12:34:19.617Z",
              "id": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
              "email": "miguel.simon@digitalpneuma.com",
              "firstName": "Miguel",
              "lastName": "Simon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-12T12:39:28.094Z",
                "personalization_survey_n8n_version": "1.123.5",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "automationGoalDevopsOther": "Build workflows to automate manual processes",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "GjxXDVv1iBEVBdE4",
                "userActivatedAt": 1765753766341,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767113477505
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}