workflows/RAG_Agent_Masterclass_2_7D1sBpGkbFfSCWNr.json
{
  "updatedAt": "2025-09-22T21:16:21.000Z",
  "createdAt": "2025-09-22T11:17:38.812Z",
  "id": "7D1sBpGkbFfSCWNr",
  "name": "RAG Agent Masterclass 2",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1EBeiCzLjsu6L6KWyb-nJuTvr9QNGjc5T",
          "mode": "list",
          "cachedResultName": "Agentic Database",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1EBeiCzLjsu6L6KWyb-nJuTvr9QNGjc5T"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "cb20c8cb-03d5-4d9d-939e-b007e64bbb6c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SUnfsHom4i3gEWxZ",
          "name": "Google Drive account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "b5ab0152-8c01-4a5c-b9c2-bb0654faa3f9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SUnfsHom4i3gEWxZ",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "1785196e-5bad-451e-be2c-726a439782c3",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "fk11Uf2J9pVNo2H5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        208
      ],
      "id": "c466b8df-132f-4602-ade5-8f4b55d5d478",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "IfZ7w9jey4t4KuBS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "91684e2f-0f99-49a7-b721-9f0dfe3f5459",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        256,
        -448
      ],
      "id": "b9186c7b-5683-4b88-954c-587379bc1501",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        -448
      ],
      "id": "17726f73-a948-4764-a173-4fe907fffff7",
      "name": "When chat message received",
      "webhookId": "48ac0243-714c-4dda-a40d-924e2cb91928"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        192,
        -224
      ],
      "id": "8ac4dd55-0b82-465d-ab73-36b5c9c37e25",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "O4Ms8iUOOIP77I0Z",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to retrieve FAQ and Policy information",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        592,
        -304
      ],
      "id": "abddf431-e8b1-4ccc-b905-969376e5f4c8",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "fk11Uf2J9pVNo2H5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1EBeiCzLjsu6L6KWyb-nJuTvr9QNGjc5T",
          "mode": "list",
          "cachedResultName": "Agentic Database",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1EBeiCzLjsu6L6KWyb-nJuTvr9QNGjc5T"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        416
      ],
      "id": "2aaa1998-ca56-4bc9-977f-43bd6e54e0e8",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SUnfsHom4i3gEWxZ",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2835f3d1-f17d-4f7c-ba54-d70ef353f4d7",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        416
      ],
      "id": "7e29ac7e-d8dc-48a2-81eb-50184b40332b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        416
      ],
      "id": "462a9ed7-4310-47d2-8b5c-f8e8fd3b955f",
      "name": "Delete a row",
      "credentials": {
        "supabaseApi": {
          "id": "fk11Uf2J9pVNo2H5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        656,
        416
      ],
      "id": "133ee05f-9dbd-4d07-9f8c-abc9ddb9cd00",
      "name": "Download file1",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SUnfsHom4i3gEWxZ",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        864,
        416
      ],
      "id": "ee2c853a-523a-405c-ae34-600f4cf21f91",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "fk11Uf2J9pVNo2H5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1008,
        624
      ],
      "id": "4ec09e40-df68-4d07-8313-78f13a10245d",
      "name": "Default Data Loader1"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Google Drive Trigger": [
      {
        "json": {
          "exportLinks": {
            "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=rtf",
            "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=odt",
            "text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=html",
            "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=pdf",
            "text/x-markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=markdown",
            "text/markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=markdown",
            "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=epub",
            "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=zip",
            "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=docx",
            "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=txt"
          },
          "parents": [
            "1EBeiCzLjsu6L6KWyb-nJuTvr9QNGjc5T"
          ],
          "lastModifyingUser": {
            "displayName": "Miguel Simon",
            "kind": "drive#user",
            "me": true,
            "permissionId": "15484941207648369079",
            "emailAddress": "miguel.simon@digitalpneuma.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJdHz8abYfdrJ0hQbIrnVV2F6mEqp6MXj3HuCbFaTflsg6Xiw=s64"
          },
          "owners": [
            {
              "displayName": "Miguel Simon",
              "kind": "drive#user",
              "me": true,
              "permissionId": "15484941207648369079",
              "emailAddress": "miguel.simon@digitalpneuma.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJdHz8abYfdrJ0hQbIrnVV2F6mEqp6MXj3HuCbFaTflsg6Xiw=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "15484941207648369079",
              "type": "user",
              "emailAddress": "miguel.simon@digitalpneuma.com",
              "role": "owner",
              "displayName": "Miguel Simon",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJdHz8abYfdrJ0hQbIrnVV2F6mEqp6MXj3HuCbFaTflsg6Xiw=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "15484941207648369079"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18",
          "name": "Policy and FAQ Document",
          "mimeType": "application/vnd.google-apps.document",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "26",
          "webViewLink": "https://docs.google.com/document/d/1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18/edit?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBNQNIw82TauIuXcyRv3YBH6ynt-sjrRA112FGfTT2DlQu7GdInmEcVCUkZ9zfvPSUgDVnwGN60g8oJI1iHTweyMWfKFPv5bu8lT0LVVMIH0O1a8OqFUQdQA10mZxg=s220",
          "thumbnailVersion": "6",
          "viewedByMe": true,
          "viewedByMeTime": "2025-09-22T11:49:23.859Z",
          "createdTime": "2025-09-05T00:16:17.951Z",
          "modifiedTime": "2025-09-22T11:49:23.859Z",
          "modifiedByMeTime": "2025-09-22T11:49:23.859Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "size": "3421",
          "quotaBytesUsed": "3421",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ],
    "Google Drive Trigger1": [
      {
        "json": {
          "exportLinks": {
            "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=rtf",
            "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=odt",
            "text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=html",
            "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=pdf",
            "text/x-markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=markdown",
            "text/markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=markdown",
            "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=epub",
            "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=zip",
            "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=docx",
            "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18&exportFormat=txt"
          },
          "parents": [
            "1EBeiCzLjsu6L6KWyb-nJuTvr9QNGjc5T"
          ],
          "lastModifyingUser": {
            "displayName": "Miguel Simon",
            "kind": "drive#user",
            "me": true,
            "permissionId": "15484941207648369079",
            "emailAddress": "miguel.simon@digitalpneuma.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJdHz8abYfdrJ0hQbIrnVV2F6mEqp6MXj3HuCbFaTflsg6Xiw=s64"
          },
          "owners": [
            {
              "displayName": "Miguel Simon",
              "kind": "drive#user",
              "me": true,
              "permissionId": "15484941207648369079",
              "emailAddress": "miguel.simon@digitalpneuma.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJdHz8abYfdrJ0hQbIrnVV2F6mEqp6MXj3HuCbFaTflsg6Xiw=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "15484941207648369079",
              "type": "user",
              "emailAddress": "miguel.simon@digitalpneuma.com",
              "role": "owner",
              "displayName": "Miguel Simon",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJdHz8abYfdrJ0hQbIrnVV2F6mEqp6MXj3HuCbFaTflsg6Xiw=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "15484941207648369079"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18",
          "name": "Policy and FAQ Document",
          "mimeType": "application/vnd.google-apps.document",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "30",
          "webViewLink": "https://docs.google.com/document/d/1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18/edit?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBMrmyTs2e2KZa0YwwVA8yT-fJtoHXdEosn9-uoMDCFr7NJ4nJDrqNaIoMWacuc6ug1g-8beAj-3PKP84Gpyscy3uMZqsfRfYpqsDERkSWL3OkvvG7lkViLIxihcRA=s220",
          "thumbnailVersion": "7",
          "viewedByMe": true,
          "viewedByMeTime": "2025-09-22T20:57:26.547Z",
          "createdTime": "2025-09-05T00:16:17.951Z",
          "modifiedTime": "2025-09-22T20:57:26.547Z",
          "modifiedByMeTime": "2025-09-22T20:57:26.547Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "size": "3421",
          "quotaBytesUsed": "3421",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "file_id": "1EYyF_oHI31L9wt9Wf4vTaHeOcMv3g-rDWecp-6Okk18"
        }
      }
    ]
  },
  "versionId": "1d99d25a-a5c3-4f5a-9ed3-dcc54ca191f6",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-13T17:42:46.828Z",
      "createdAt": "2025-12-13T17:42:46.828Z",
      "role": "workflow:owner",
      "workflowId": "7D1sBpGkbFfSCWNr",
      "projectId": "HZqYjnNmPLW2kkrP",
      "project": {
        "updatedAt": "2025-12-12T12:37:29.393Z",
        "createdAt": "2025-12-12T12:34:20.173Z",
        "id": "HZqYjnNmPLW2kkrP",
        "name": "Miguel Simon <miguel.simon@digitalpneuma.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
        "projectRelations": [
          {
            "updatedAt": "2025-12-12T12:34:20.173Z",
            "createdAt": "2025-12-12T12:34:20.173Z",
            "userId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
            "projectId": "HZqYjnNmPLW2kkrP",
            "user": {
              "updatedAt": "2026-01-31T12:34:46.000Z",
              "createdAt": "2025-12-12T12:34:19.617Z",
              "id": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
              "email": "miguel.simon@digitalpneuma.com",
              "firstName": "Miguel",
              "lastName": "Simon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-12T12:39:28.094Z",
                "personalization_survey_n8n_version": "1.123.5",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "automationGoalDevopsOther": "Build workflows to automate manual processes",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "GjxXDVv1iBEVBdE4",
                "userActivatedAt": 1765753766341,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767113477505
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}