workflows/Scrape_any_web_page_into_structured_JSON_data_with_ScrapeNinja_and_AI_CtPFK2oIhGrLoQ5W.json
{
  "updatedAt": "2025-11-11T15:52:56.844Z",
  "createdAt": "2025-11-11T15:52:56.844Z",
  "id": "CtPFK2oIhGrLoQ5W",
  "name": "Scrape any web page into structured JSON data with ScrapeNinja and AI",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "9dd743dd-4ee6-4aaf-820d-7e63ea31399c",
      "name": "ScrapeNinja",
      "type": "CUSTOM.scrapeNinja",
      "position": [
        568,
        240
      ],
      "parameters": {
        "url": "https://news.ycombinator.com/"
      },
      "typeVersion": 1
    },
    {
      "id": "fbfe223d-e37f-473d-96c5-a5e89b19e2fc",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1048,
        520
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-exp-1206"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "l1L18JG0n3GhTJuh",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "75a9b517-f51e-4b84-90d5-d9352f5185cc",
      "name": "Generate custom web scraper",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        368,
        240
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "c1e4e096-ae88-45d4-aed0-d7b92b496b5a",
      "name": "Cleanup HTML",
      "type": "CUSTOM.scrapeNinja",
      "position": [
        788,
        240
      ],
      "parameters": {
        "html": "={{ $json.body }}",
        "operation": "cleanup-html"
      },
      "typeVersion": 1
    },
    {
      "id": "dccb1015-ce34-4c4c-b556-a31de8639baf",
      "name": "Generate JS eval code via LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        1008,
        240
      ],
      "parameters": {
        "text": "=write cheerio.js function to news items. your response MUST start with:\n\nfunction extract(html, cheerioInstance) {\n// use cheerio to load html...\n\nreturn [{ url: \"item1\", \"title\": \"xxx\", \"score\": \"5\", comments: 6 }, ... ]\n}\ndo not use new URL() because this wont work in my env.\nhtml:\n{{ $json.html }}",
        "promptType": "define"
      },
      "typeVersion": 1.5
    },
    {
      "id": "71c03255-9bb8-4ce8-b191-7b163326aa41",
      "name": "Eval generated code to extract data",
      "type": "CUSTOM.scrapeNinja",
      "position": [
        1368,
        240
      ],
      "parameters": {
        "html": "={{ $('Cleanup HTML').item.json.html }}",
        "operation": "extract-custom",
        "extractionFunction": "={{ $json.text }}"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "ScrapeNinja": {
      "main": [
        [
          {
            "node": "Cleanup HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup HTML": {
      "main": [
        [
          {
            "node": "Generate JS eval code via LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate JS eval code via LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate custom web scraper": {
      "main": [
        [
          {
            "node": "ScrapeNinja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JS eval code via LLM": {
      "main": [
        [
          {
            "node": "Eval generated code to extract data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eval generated code to extract data": {
      "main": [
        []
      ]
    }
  },
  "settings": null,
  "staticData": null,
  "meta": {
    "templateId": "2812"
  },
  "pinData": null,
  "versionId": "268bd505-64e8-4f1a-8c3f-b95c8f67009f",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-13T17:42:56.189Z",
      "createdAt": "2025-12-13T17:42:56.189Z",
      "role": "workflow:owner",
      "workflowId": "CtPFK2oIhGrLoQ5W",
      "projectId": "HZqYjnNmPLW2kkrP",
      "project": {
        "updatedAt": "2025-12-12T12:37:29.393Z",
        "createdAt": "2025-12-12T12:34:20.173Z",
        "id": "HZqYjnNmPLW2kkrP",
        "name": "Miguel Simon <miguel.simon@digitalpneuma.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
        "projectRelations": [
          {
            "updatedAt": "2025-12-12T12:34:20.173Z",
            "createdAt": "2025-12-12T12:34:20.173Z",
            "userId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
            "projectId": "HZqYjnNmPLW2kkrP",
            "user": {
              "updatedAt": "2026-01-31T12:34:46.000Z",
              "createdAt": "2025-12-12T12:34:19.617Z",
              "id": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
              "email": "miguel.simon@digitalpneuma.com",
              "firstName": "Miguel",
              "lastName": "Simon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-12T12:39:28.094Z",
                "personalization_survey_n8n_version": "1.123.5",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "automationGoalDevopsOther": "Build workflows to automate manual processes",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "GjxXDVv1iBEVBdE4",
                "userActivatedAt": 1765753766341,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767113477505
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}