workflows/Self_Service_Audit_and_Contact_0y6Uu5jWWv6Fmaru.json
{
  "updatedAt": "2026-01-04T17:38:53.376Z",
  "createdAt": "2026-01-04T17:38:53.376Z",
  "id": "0y6Uu5jWWv6Fmaru",
  "name": "Self Service Audit and Contact",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "markdown",
              "value": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Markdown1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1504,
        224
      ],
      "id": "22a8b794-7f25-485b-9b74-6c68553f6f2e"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.message.content }}",
        "destinationKey": "html",
        "options": {
          "completeHTMLDocument": true,
          "tables": true
        }
      },
      "name": "Markdown to HTML1",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1728,
        224
      ],
      "id": "850b89fb-ca15-4a88-b4cf-df5cb1df826a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n    \"source\": $json.html,\n    \"landscape\": false,\n    \"format\": \"Letter\",\n    \"margin\": {\n      \"top\": \"1in\",\n      \"right\": \"1in\",\n      \"bottom\": \"1in\",\n      \"left\": \"1in\"\n    },\n    \"use_print\": true\n  } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Convert HTML to PDF (PDFShift - FREE)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2176,
        224
      ],
      "id": "01be84df-5655-43d3-b8ea-f664ccbc3105"
    },
    {
      "parameters": {
        "jsCode": "// Set the report title and prepare for PDF filename\nconst reportTitle = $('Style HTML').item.json.report_title || 'Executive Report';\nconst fileName = reportTitle.replace(/\\s+/g, '_') + '.pdf';\n\n// Pass through the binary data with proper filename\nconst newItem = {\n  json: {\n    report_title: reportTitle,\n    fileName: fileName\n  },\n  binary: items[0].binary\n};\n\nreturn [newItem];"
      },
      "name": "Set PDF Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        224
      ],
      "id": "12a65072-cb43-4e07-a248-044a699959d2"
    },
    {
      "parameters": {
        "jsCode": "\n// Enhance table styling for the executive report\nconst results = items.map(item => {\n  const reportTitle = item.json.report_title || 'Executive Report';\n  let htmlString = item.json.html || '';\n  const styles = `\n    <style>\n      body { font-family: Arial, sans-serif; margin: 0; padding: 0; }\n      h1 { text-align: center; font-size: 24pt; margin-bottom: 0.5in; }\n      h2, h3 { font-weight: bold; margin-top: 0.5in; }\n      p { line-height: 1.5; font-size: 12pt; }\n      table { width: 100%; border-collapse: collapse; table-layout: fixed; margin-top: 0.25in; }\n      thead th { background-color: #f2f2f2; }\n      th, td { border: 1px solid #ddd; padding: 5px; font-size: 10pt; text-align: left; vertical-align: top; word-wrap: break-word; }\n      @media print {\n        body { margin: 0; }\n      }\n    </style>\n  `;\n  if (/<head\\s*>/i.test(htmlString)) {\n    htmlString = htmlString.replace(/<head\\s*>/i, `<head>${styles}`);\n  } else {\n    htmlString = `<head>${styles}</head>` + htmlString;\n  }\n  if (!/<h1>/i.test(htmlString)) {\n    htmlString = htmlString.replace(/<body\\s*>/i, `<body><h1>${reportTitle}</h1>`);\n  }\n  item.json.html = htmlString;\n  item.json.report_title = reportTitle;\n  return item;\n});\nreturn results;\n"
      },
      "name": "Style HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1952,
        224
      ],
      "id": "b00c1114-317e-4e26-8307-c5c50dbd4fce"
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=Company Name: {{ $('Webhook AI Audit').first().json.body.companyName || $('Webhook AI Audit').first().json.companyName || 'Unknown Company' }}\nIndustry: {{ $('Webhook AI Audit').first().json.body.industry || $('Webhook AI Audit').first().json.industry || 'Unknown Industry' }}\nCompany Size: {{ $('Webhook AI Audit').first().json.body.companySize || $('Webhook AI Audit').first().json.companySize || 'Unknown Size' }}\n\nPlease research this company and provide:\n1. Company overview and recent developments\n2. Industry trends and challenges\n3. Current automation/AI adoption in their sector\n4. Specific opportunities for AI implementation\n5. Competitive landscape analysis\n\nProvide comprehensive research that will inform an AI & automation audit report."
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "a7c8aa44-a228-4731-af6b-7b71d7df9b69",
      "name": "Perplexity Research",
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        224,
        224
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI consultant generating a **comprehensive AI & automation audit report** based on collected business inputs and enriched research.\n\n**IMPORTANT: Use this date for the report: {{ $now.format(\"MMMM d, yyyy\") }}**\n\n### **Inputs:**\n- **Company Name:**\n{{ $(\"Webhook AI Audit\").first().json.body.companyName || $(\"Webhook AI Audit\").first().json.companyName || \"Unknown Company\" }} \n- **Industry:** \n{{ $(\"Webhook AI Audit\").first().json.body.industry || $(\"Webhook AI Audit\").first().json.industry || \"Unknown Industry\" }}\n- **Employees Count** \n{{ $(\"Webhook AI Audit\").first().json.body.companySize || $(\"Webhook AI Audit\").first().json.companySize || \"Unknown Size\" }}\n- **Business Goals:** \n{{ ( ($(\"Webhook AI Audit\").first().json.body.goals || $(\"Webhook AI Audit\").first().json.business_overview?.goals) || [] ).join(\", \") }}\n- **Workflow Analysis:** \n{{ ( ($(\"Webhook AI Audit\").first().json.body.tasks || $(\"Webhook AI Audit\").first().json.workflow_analysis?.tasks) || [] ).map(task => `- ${task.description || task.task || \"Task\"} (${task.frequency || \"Unknown frequency\"}, ${task.timeSpent || task.time || \"Unknown time\"}, ${task.responsible || task.owner || \"Unknown owner\"}, ${task.department || \"Unknown dept\"})`).join(\"\\n\") }}\n- **Data Infrastructure:** \n  - Data Sources: \n{{ ( ($(\"Webhook AI Audit\").first().json.body.dataSources || $(\"Webhook AI Audit\").first().json.data_infrastructure?.data_sources) || [] ).join(\", \") }}\n- **AI Implementation Preferences:**\n  - Interested Tools: \n{{ ( ($(\"Webhook AI Audit\").first().json.body.interestedTools || $(\"Webhook AI Audit\").first().json.ai_implementation?.interested_tools) || [] ).join(\", \") }}\n  - Budget: \n{{ $(\"Webhook AI Audit\").first().json.body.budget || $(\"Webhook AI Audit\").first().json.ai_implementation?.budget || \"Not specified\" }}\n  - Implementation Preference: \n{{ $(\"Webhook AI Audit\").first().json.body.implementationPreference || $(\"Webhook AI Audit\").first().json.ai_implementation?.implementation_preference || \"Not specified\" }}\n- **Perplexity Research Findings:**  \n  {{ $(\"Perplexity Research\").first().json.choices[0].message.content }}\n\n---\n\n### **Report Output Structure**\n**Start the report with the date at the top in this format: \"Report Date: [use the date provided above]\"**\n\n**1. Executive Summary**  \nProvide a **concise** introduction summarizing the company, its goals, and the scope of this audit. Mention key challenges identified from **workflow analysis and Perplexity research**. \n\n**2. Current Business Processes & Pain Points**  \nBreak down the company\"s current processes based on their workflow analysis. Identify which **tasks are the biggest bottlenecks** and whether they are **manual, inefficient, or data-limited**. Highlight where **data quality issues** might impact automation.\n\n**3. AI & Automation Opportunities**  \nFor each **high-impact area**, recommend a solution based on structured decision-making process. Ensure recommendations are **strategic, practical, and justified**."
            }
          ]
        },
        "options": {
          "maxTokens": 10000,
          "temperature": 1
        }
      },
      "id": "3d0cde2b-1514-4ada-b125-479929cd5a1b",
      "name": "Generate Draft Report",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        448,
        224
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior business consultant from Me, Myslef Plus AI specializing in AI and automation strategy.\n\nYour task is to take the provided AI audit report and completely rewrite it to be:\n\n1. **More conversational and engaging** - Write as if you're speaking directly to the business owner in a friendly, professional consultation\n2. **Significantly longer and more detailed** - Double the length by adding deeper insights, more specific examples, and detailed explanations (not filler content)\n3. **More actionable** - Include specific steps, timelines, and tactical guidance\n4. **Better structured** - Improve flow, readability, and organization\n5. **Professional and polished** - NO emojis, casual symbols, or overly informal language\n\n**Input Report to Refine:**\n{{ $json.message.content }}\n\n**Refinement Instructions:**\n- Remove ALL emojis and casual symbols - keep it strictly professional\n- Remove any technical jargon and make it business-friendly\n- Add specific examples of how each recommendation would work in practice\n- Include realistic timelines and resource requirements\n- Expand on the \"why\" behind each recommendation with business impact\n- Create a more detailed implementation roadmap with specific milestones\n- Add budget considerations and ROI expectations where relevant\n- Make the tone warm, consultative, and confident but professional\n- Structure with clear headings and bullet points for easy scanning\n- Use clean, executive-level language throughout\n\n**Output Format:** \nClean markdown format without any code blocks or metadata. Start directly with the refined report content.\n\nTransform this into an exceptional, comprehensive business consultation report that reads like it came from a top-tier consulting firm - professional, insightful, and actionable."
            }
          ]
        },
        "options": {
          "maxTokens": 10000,
          "temperature": 1
        }
      },
      "id": "aebfb83b-9164-42a2-b06d-826602440178",
      "name": "Refine Report",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        800,
        224
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a markdown formatting specialist. Your task is to clean and output the provided content with perfect formatting.\n\n**Input Content:**\n{{ $('Refine Report').first().json.message.content }}\n\n**Your Task:**\nTake the above content and output it as clean, properly formatted markdown with these requirements:\n\n1. **Remove ALL code block markers** - No ```markdown, ```, or any code fence indicators\n2. **Remove ALL metadata** - No system messages, timestamps, or technical annotations  \n3. **Remove ALL quotes** - No leading or trailing quotation marks around the content\n4. **Clean formatting** - Ensure proper markdown syntax (headings, lists, tables, etc.)\n5. **Remove any artifacts** - No [object Object], template expressions, or system-generated text\n6. **Preserve structure** - Keep all headings, bullet points, tables, and formatting intact\n7. **No wrapper text** - Do not add introductions, explanations, or conclusions\n\n**Critical Instructions:**\n- Output ONLY the cleaned markdown content\n- Start immediately with the first heading or content line  \n- End immediately after the last line of actual content\n- Do NOT include any explanatory text before or after\n- DO NOT wrap the output in code blocks or quotes\n- DO NOT add any metadata or system messages\n\nSimply output the clean, raw markdown content exactly as it should appear in the final document."
            }
          ]
        },
        "options": {
          "maxTokens": 10000,
          "temperature": 1
        }
      },
      "id": "a864f8db-0def-4af1-afe5-43ecf18cfd71",
      "name": "Clean Markdown",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1152,
        224
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook AI Audit').first().json.body.email || $('Webhook AI Audit').first().json.body.contactEmail || 'fallback@example.com' }}",
        "subject": "✅ Your AI Audit Is Ready",
        "message": "<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Your AI Audit Is Ready</title>\n  </head>\n  <body style=\"margin:0; padding:0; font-family: Arial, sans-serif;\">\n    \n    <!-- Hidden Preheader (for Gmail snippet) -->\n    <span style=\"display:none; font-size:0; line-height:0; max-height:0; overflow:hidden; color:#ffffff;\">\n      Thanks for requesting your AI Audit! We're excited to share the results.\n    </span>\n    \n    <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n      <tr>\n        <td align=\"center\" style=\"background-color:#000000; padding:30px 0;\">\n          <h1 style=\"color:#ffffff; margin:0; font-size:28px;\">\n            Your AI Audit Is Ready\n          </h1>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" style=\"padding:20px;\">\n          <table width=\"600\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width:600px;\">\n            <tr>\n              <td style=\"padding:20px; text-align:left;\">\n                <p style=\"margin-top:0; font-size:16px; line-height:1.6;\">\n                  Hi there!\n                </p>\n                <p style=\"font-size:16px; line-height:1.6;\">\n                  We're excited to share your completed AI Audit file. Please find the attachment below. If you have any questions, just reply to this email.\n                </p>\n                <hr style=\"border:none; border-top:1px solid #000000; margin:20px 0;\">\n                <p style=\"font-size:16px; line-height:1.6; margin-bottom:0;\">\n                  Best,<br>\n                  <strong>M2AI Team</strong>\n                </p>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n    \n  </body>\n</html>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          },
          "bccList": "matthew.snow2@gmail.com"
        }
      },
      "id": "270e19dc-22d2-4c85-8eed-2eae52bb1683",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2624,
        224
      ],
      "webhookId": "6ce0f59e-b6f7-4d27-bc4d-f89aa0708a34"
    },
    {
      "parameters": {
        "sendTo": "matthew.snow2@gmail.com",
        "subject": "You have a new lead",
        "message": "=Name: {{ $json.body.name }}\nEmail: {{ $json.body.email }}\nPhone: {{ $json.body.phone }}\nBusiness Type: {{ $json.body.business_type }}\nMain Challenge: {{ $json.body.main_challenge }}\nCurrent Tools: {{ $json.body.current_tools }}\nAdditional Notes: {{ $json.body.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "39752000-50e2-4484-9727-9335d0a7a828",
      "name": "Send a message",
      "webhookId": "9c2cf2f6-49e0-40d9-a057-bcf95770924f",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "self-serve-audit",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "bc34d62e-cce6-437f-bb60-68824f4fe9cc",
      "name": "Webhook AI Audit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        224
      ],
      "webhookId": "114fca31-6b4d-4977-838a-159d27f6c179"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ed9508d1-ea04-4460-9c5c-fa808f796085",
      "name": "Webhook Lead Capture",
      "webhookId": "b60ae206-964a-4b13-a1ff-f0b7047af8cb",
      "disabled": true
    }
  ],
  "connections": {
    "Set Markdown1": {
      "main": [
        [
          {
            "node": "Markdown to HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown to HTML1": {
      "main": [
        [
          {
            "node": "Style HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF (PDFShift - FREE)": {
      "main": [
        [
          {
            "node": "Set PDF Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Style HTML": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF (PDFShift - FREE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set PDF Filename": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research": {
      "main": [
        [
          {
            "node": "Generate Draft Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Draft Report": {
      "main": [
        [
          {
            "node": "Refine Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refine Report": {
      "main": [
        [
          {
            "node": "Clean Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Markdown": {
      "main": [
        [
          {
            "node": "Set Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook AI Audit": {
      "main": [
        [
          {
            "node": "Perplexity Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Lead Capture": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook Lead Capture": [
      {
        "json": {
          "headers": {
            "host": "im4tlai.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36",
            "content-length": "309",
            "accept": "application/json",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "162.239.2.19",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "988ff0d920337252-ATL",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "http://localhost:8080",
            "priority": "u=1, i",
            "referer": "http://localhost:8080/",
            "sec-ch-ua": "\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "162.239.2.19, 104.23.245.122",
            "x-forwarded-host": "im4tlai.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-16-6f778b7769-6vgpr",
            "x-is-trusted": "yes",
            "x-real-ip": "162.239.2.19"
          },
          "params": {},
          "query": {},
          "body": {
            "_subject": "New Real Estate Lead - Website Contact Form",
            "form_source": "m2ai-realestate.com",
            "submission_timestamp": "2025-10-03T22:40:21.158Z",
            "name": "matthew",
            "email": "scz28sss@yahoo.com",
            "phone": "",
            "business_type": "individual_agent",
            "main_challenge": "lead_response",
            "current_tools": "GHL",
            "message": "Money"
          },
          "webhookUrl": "https://im4tlai.app.n8n.cloud/webhook/contact-form",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "f0e63905-7e1a-421a-990d-d441a5978d23",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-04T17:38:53.382Z",
      "createdAt": "2026-01-04T17:38:53.382Z",
      "role": "workflow:owner",
      "workflowId": "0y6Uu5jWWv6Fmaru",
      "projectId": "HZqYjnNmPLW2kkrP",
      "project": {
        "updatedAt": "2025-12-12T12:37:29.393Z",
        "createdAt": "2025-12-12T12:34:20.173Z",
        "id": "HZqYjnNmPLW2kkrP",
        "name": "Miguel Simon <miguel.simon@digitalpneuma.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
        "projectRelations": [
          {
            "updatedAt": "2025-12-12T12:34:20.173Z",
            "createdAt": "2025-12-12T12:34:20.173Z",
            "userId": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
            "projectId": "HZqYjnNmPLW2kkrP",
            "user": {
              "updatedAt": "2026-01-31T12:34:46.000Z",
              "createdAt": "2025-12-12T12:34:19.617Z",
              "id": "14cb2dc1-5e19-4420-bbb3-8cfefe5b8586",
              "email": "miguel.simon@digitalpneuma.com",
              "firstName": "Miguel",
              "lastName": "Simon",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-12T12:39:28.094Z",
                "personalization_survey_n8n_version": "1.123.5",
                "automationGoalDevops": [
                  "other",
                  "monitoring-alerting",
                  "reporting"
                ],
                "automationGoalDevopsOther": "Build workflows to automate manual processes",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "GjxXDVv1iBEVBdE4",
                "userActivatedAt": 1765753766341,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767113477505
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}